{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}
{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script >
    function  previewUrl() {
        let urlBack = document.referrer;
        if(urlBack==''){
            window.location.href = '/';
        }else{
            if(urlBack.indexOf('products/list')>-1){
                window.location.href = urlBack;
            }else{
                window.location.href = '/products/list';
            }

        }
    }
function checkInput(idQuantity){


    var valInput = $('#'+idQuantity).val().trim();
    let mymst_quantity = $('#'+idQuantity).attr('mymst_quantity');
    let input1 =document.getElementById(idQuantity);
    input1.setCustomValidity('');
    if (valInput == "") {


        input1.setCustomValidity('{{ 'front.product.not_input_quantity'|trans }}');
                    input1.reportValidity();
                    return false;
              }

             if ( (valInput == 0) && (1 == mymst_quantity) ){

                    input1.setCustomValidity(mymst_quantity+'{{ 'front.product.invalid_quantity'|trans }}');
                    input1.reportValidity();
                    return false;
              }

            if ( (valInput == 0) && (1 != mymst_quantity) ){
                   //%number%
                   let msgShow = "{{ 'front.product.invalid_quantity_big'|trans }}";
                   msgShow = msgShow.replace('%number%',mymst_quantity);
                    input1.setCustomValidity(msgShow);
                    input1.reportValidity();
                    return false;
              }
             if(valInput % mymst_quantity  !== 0) {
                   let msgShow = "{{ 'front.product.invalid_quantity_big'|trans }}";
                   msgShow = msgShow.replace('%number%',mymst_quantity);
                    $('#'+idQuantity)[0].setCustomValidity(msgShow);
                    $('#'+idQuantity)[0].reportValidity();
                     return false;
             }
                $.cookie( idQuantity,valInput, { path: '/' });
             return true;
        }
$('.inputCart').keyup(function(e) {

     if( e.key != "Enter"){
         if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
           clearTimeout($.data(this, 'timer'));
          var wait = setTimeout(checkInputFirst, 500,this);
          $(this).data('timer', wait);
     }

});
$('.inputCart').click(function(e) {

    let oldvalue = $(this).attr('oldvalue');
    if( $(this).val()!=oldvalue){
           clearTimeout($.data(this, 'timer'));
          var wait = setTimeout(checkInputFirst, 500,this);
          $(this).data('timer', wait);
    }


});
    function checkInputFirst(objT){

        //var objT = this;
    var isFail = false;

    //quantity1421
    let quantityId = "quantity"+$(objT).attr('myid');

    let input1 =document.getElementById(objT.id);
    //
    input1.setCustomValidity('');
    let mymst_quantity= $(objT).attr('mymst_quantity');
    let resultCheck = checkInput(quantityId);

        if(resultCheck==true){

              updateOne(objT);
         }

      }

// $('.inputCart').on("input", function(ev) {
//
// checkInputFirst(this);
//
// });

function updateOne(objThis){


            let quantityId = "quantity"+$(objThis).attr('myid');
            let productIdEc = $(objThis).attr('myid');
            let valInput = $('#'+quantityId).val().trim();
            let productClassId = $(objThis).attr('productclassid');
            let resultCheck = checkInput(quantityId);

            if(resultCheck==true){

            }else{
             let newUrl = "javascript:;";
              $('#objNext').attr('href',newUrl);
            }

             $.ajax({
                        url: '/cart/update_cart',
                        type: 'POST',
                        dataType: "json",
                        timeout: 1000,
                        async:false,
                        data: {
                            'quantity': valInput,
                            '_token':'{{ csrf_token('_token') }}',
                            'product_id':productIdEc,
                            'productClassId':productClassId,
                            'oneCartId':'{{ oneCartId }}',
                            'is_update':1

                        }
                    }).done(function(htmlRe, statusText, jqXHR) {
                        window.location.reload();

                    }).fail(function(jqXHR, statusText, errorThrown) {

                });

}

    $('.ec-blockBtn--action').click(function() {
        let objNext =this;
        let is_valid = true;

          $( ".inputCart" ).each(function( index ) {
            let quantityId = "quantity"+$(this).attr('myid');
            let productIdEc = $(this).attr('myid');
            let valInput = $('#'+quantityId).val().trim();
            let productClassId = $(this).attr('productclassid');
            let resultCheck = checkInput(quantityId);
            if(resultCheck == false){
                is_valid = false;
                return;
            }
          });

          if(is_valid==true){
              {% if onecart_key|length > 0 %}
               let cart_buystep = "{{ path('cart_buystep', {'cart_key':onecart_key}) }}";
            window.location.href=cart_buystep;
              {% endif %}

          }


    });

  $(function() {
                    $(document).on("keydown", "input", function(event) {
                       return event.key != "Enter";
                     });
  })
</script>
{% endblock javascript %}
{% block main %}
    <style>

        .inputCart{
           width:100px ;
            text-align: right;
        }

         .standar_price{
             color: #00B050;
             font-size: 100% !important;
         }
        .good_price{
            color: #FF0000;
            font-size: 100% !important;
        }


    </style>
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.cart.title'|trans }}</h1>
        </div>
    </div>
    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'front.cart.nav__cart_items'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'front.cart.nav__customer_info'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'front.cart.nav__order'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'front.cart.nav__confirm'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'front.cart.nav__complete'|trans }}
                    </div>
                </li>
            </ul>
        </div>
        {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
        {% for error in app.session.flashbag.get('eccube.front.request.error') %}
            {% set idx = loop.index0 %}
            <div class="ec-cartRole__error">
                <div class="ec-alert-warning">
                    <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                    <div class="ec-alert-warning__text">
                        {% if productStr[idx] is defined %}
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        {% else %}
                            {{ error|trans|nl2br }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for error in app.session.flashbag.get('eccube.front.cart.error') %}
            <div class="ec-cartRole__error">
                <div class="ec-alert-warning">
                    <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                    <div class="ec-alert-warning__text">
                        {{ error|trans|nl2br }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if totalQuantity > 0 %}
            <div class="ec-cartRole__totalText">
                {# Check mst_customer.price_view_flg #}
                {% if global_service.getPriceViewFlg %}
                    <p>
                        {{ 'front.cart.total_price'|trans({ '%price%': roundPriceZeroTotal(totalPrice) }) | raw }}
                    </p>
                {% endif %}
            </div>

            {% if Carts|length > 1 %}
                <div class="ec-cartRole__error">
                    <div class="ec-alert-warning">
                        <div class="ec-alert-warning__text">
                            {{ 'front.cart.divide_cart'|trans|nl2br }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <form name="form" id="form_cart"  style="width: 100%" class="" method="post" action="{{ url('cart') }}">
                {% if app.user==null %}
                    <div class="ec-cartRole__cart" style="text-align: center;color:#00B050">未ログインのため、標準単価で金額を算出しています</div>
                {% endif %}
                {% for CartIndex,Cart in Carts %}
                    {% set cartKey = Cart.cart_key %}
                    <script>
                        CartKey ='{{ Cart.cart_key }}';
                    </script>
                    {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                        <div class="ec-cartRole__error">
                            <div class="ec-alert-warning">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                <div class="ec-alert-warning__text">
                                    {{ error|trans|nl2br }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="ec-cartRole__cart">
                        <div class="ec-cartTable">
                            <ol class="ec-cartHeader">
                                <li class="ec-cartHeader__label">{{ 'front.cart.delete'|trans }}</li>
                                <li class="ec-cartHeader__label">
                                    {% if global_service.getCartProductType == 2%}
                                        {{ 'front.cart.product'|trans }} {{ 'front.cart.special_product'|trans }}
                                    {% else %}
                                        {{ 'front.cart.product'|trans }}
                                    {% endif %}
                                </li>
                                <li class="ec-cartHeader__label">{{ 'common.quantity'|trans }}</li>
                                <li class="ec-cartHeader__label">{{ 'common.subtotal'|trans }}</li>
                            </ol>
                            {% for CartItem in Cart.CartItems %}
                                {% set ProductClass = CartItem.ProductClass %}
                                {% set Product = ProductClass.Product %}
                                {% set MstProduct = hsProductId[Product.id] %}

                                <ul class="ec-cartRow">
                                    <li class="ec-cartRow__delColumn">
                                        <a href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} class="ec-icon" data-method="put" data-message="カートから商品を削除してもよろしいですか?">
                                            <img src="{{ asset('assets/icon/cross.svg') }}" alt="delete">
                                        </a>
                                    </li>
                                    <li class="ec-cartRow__contentColumn">
                                        <div class="ec-cartRow__img">
                                            <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                <img src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                            </a>
                                        </div>
                                        <div class="ec-cartRow__summary">
                                            <div class="ec-cartRow__name">
                                                <a  href="{{ url('product_detail', {id : Product.id} ) }}">{{ MstProduct.product_name }}</a>
                                                <br>
                                                {{ MstProduct.jan_code}}
                                            </div>
                                            <div class="ec-cartRow__unitPrice">
                                                {% if MstProduct.quantity>1 %}
                                                    販売単位：{{ MstProduct.quantity }}個/箱～
                                                {% else %}
                                                    販売単位：{{ MstProduct.quantity }}個～
                                                {% endif %}
                                                {% set classShow=hsMstProductCodeCheckShow[MstProduct.product_code] -%}

                                                {# Check mst_customer.price_view_flg #}
                                                {% if global_service.getPriceViewFlg %}
                                                    {% if  classShow=="good_price" %}
                                                        <span class="{{ classShow }}"> 販売単価：</span>
                                                    {% else %}
                                                        <span class="{{ classShow }}"> 標準単価：</span>
                                                    {% endif %}
                                                    <span class="{{ classShow }}">{{ roundPriceZero(CartItem.price) | raw }}</span>
                                                {% endif %}

                                               </div>

                                            {# Check mst_customer.price_view_flg #}
                                            {% if global_service.getPriceViewFlg %}
                                                <div class="ec-cartRow__sutbtotalSP">{{ 'common.subtotal__with_separator'|trans }}{{ roundPriceZeroTotal(CartItem.total_price) | raw }}</div>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li class="ec-cartRow__amountColumn">
                                        <div class="ec-cartRow__amountSP">{{ 'common.quantity__with_separator'|trans }}{{ CartItem.quantity|number_format }}</div>
                                        <input type="number" maxlength="5" class="inputCart" id="quantity{{ MstProduct.ec_product_id }}" productclassid="{{ ProductClass.id }}" name="quantity{{ MstProduct.ec_product_id }}" required="required" min="{{ MstProduct.quantity }}" maxlength="9" myid="{{ MstProduct.ec_product_id }}" title="" mymst_quantity="{{ MstProduct.quantity }}" class="quantity form-control" oldvalue="{{ (CartItem.quantity * MstProduct.quantity) }}" value="{{ (CartItem.quantity * MstProduct.quantity) }}" step="{{ MstProduct.quantity }}">
                                    </li>
                                    <li class="ec-cartRow__subtotalColumn">
                                        {# Check mst_customer.price_view_flg #}
                                        {% if global_service.getPriceViewFlg %}
                                            <div class="ec-cartRow__sutbtotal">{{ roundPrice(CartItem.total_price) | raw }}</div>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ec-cartRole__progress">
                        {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            {% else %}
                                {# Check mst_customer.price_view_flg #}
                                {% if global_service.getPriceViewFlg %}
                                    {{ 'front.cart.delivery_fee_free__price_and_quantity'|trans({ '%price%': roundPrice(least[cartKey]), '%quantity%': quantity[cartKey]|number_format }) | raw }}
                                {% endif %}
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_amount %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            {% else %}
                                {# Check mst_customer.price_view_flg #}
                                {% if global_service.getPriceViewFlg %}
                                    {{ 'front.cart.delivery_fee_free__price'|trans({ '%price%': roundPrice(least[cartKey]) }) | raw }}
                                {% endif %}
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_quantity %}
                            <br/>
                            {% if is_delivery_free[cartKey] %}
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            {% else %}
                                {{ 'front.cart.delivery_fee_free__quantity'|trans({ '%quantity%': quantity[cartKey]|number_format }) | raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="ec-cartRole__actions">
                        {# Check mst_customer.price_view_flg #}
                        {% if global_service.getPriceViewFlg %}
                            <div class="ec-cartRole__total">{{ 'common.total__with_separator'|trans }}<span class="ec-cartRole__totalAmount">{{ roundPriceZeroTotal(Cart.totalPrice) | raw }}</span>
                        {% endif %}
                        </div>
                        <a class="ec-blockBtn--action" href="javascript:;">{{ 'front.cart.checkout'|trans }}</a>
                        {% if loop.last %}
                            <a class="ec-blockBtn--cancel" href="javascript:previewUrl()">{{ 'front.cart.continue'|trans }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
        {% else %}
            {% for CartIndex,Cart in Carts %}
                {% set cartKey = Cart.cart_key %}
                {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                    <div class="ec-cartRole__error">
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                            <div class="ec-alert-warning__text">
                                {{ error|trans|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="ec-role">
                <div class="ec-off3Grid">
                    <div class="ec-off3Grid__cell">
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                            <div class="ec-alert-warning__text">{{ 'front.cart.no_items'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
