<html >
    <head>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/3.4.1/bootstrap.min.css', 'user_data') }}">
        <style>
            /*body{*/
            /*    width: 21cm;*/
            /*    height: 29.7cm;*/
            /*    margin: 30mm 45mm 30mm 45mm;*/
            /*    !* change the margins as you want them to be. *!*/
            /*}*/
            @font-face {
                font-family: msgothic;
                font-weight: 400;
                font-style: normal;
                font-variant: normal;
                src:url("{{getWebRootUrl()}}/html/template/default/fonts/assets/MS-Gothic.ttf") format("truetype");
            }

            @font-face {
                font-family: msgothic;
                font-weight: 700;
                font-style: bold;
                font-variant: bold;
                src:url("{{getWebRootUrl()}}/html/template/default/fonts/assets/MS-Gothic.ttf") format("truetype");
            }

            @font-face {
                font-family: msgothic;
                font-weight: italic;
                font-style: italic;
                font-variant: italic;
                src:url("{{getWebRootUrl()}}/html/template/default/fonts/assets/MS-Gothic.ttf") format("truetype");
            }

            * {
                font-family: msgothic;
                margin: 0;
                padding: 0
            }

            .header {
                position: relative;
                height: 50px;
                display: block;
                width: 100%;
                padding-top: 20px
            }

            .title {
                top: 20px;
                left: 15px;
                font-size: 25px;
                padding-right: 30px;
                text-align: center;
                vertical-align: middle;
                padding-bottom: 7px;
            }
            .date_time {
                position: absolute;
                right: 0;
                top: 30px;
            }
            .delivery_no_right {
                position: absolute;
                right: 0;
                top: 30px;

                text-decoration: underline;
            }
            .header_left {
                position: absolute;
                left: 0;
                top: 30px;


            }

            .clear-float {
                clear: both
            }
            .shelf_title {
                font-size: 20px;
                height: 40px;
                position: relative;
            }

            .shelf-person p {
                margin: 0;
                padding: 5px 0;
                text-align: center;
                border-bottom: 1px solid #000
            }

            .returns-info table {
                border-collapse: collapse
            }

            .returns-info .tr-header > td {
                font-size: 13px;
                padding: 3px 0;
                border: 1px solid black;
                border-top: 2px solid #000;
                border-bottom: 1px solid #000;
                text-align: center;
                height:35px;
            }

            .returns-info .tr-content > td {
                font-size: 14px;
                border: 1px solid black;
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                padding: 4px 4px
            }


            .col-barcode {
                /*padding: 5px !important;*/
                padding-left: 3px !important;
                padding-right: 3px !important;
                position: relative;
                height: 60px;
                width: 160px
            }

            .col-barcode img {
                width: 140px;
                height: 20px
            }

            .jancode-before {
                font-size: 15px !important;
                vertical-align: top;
                text-align: left;
                padding: 0;
                padding-top: 2px !important;
                /*width: 50%;
                padding-left: 0px !important;
                font-weight: bold;*/
            }

            .jancode-after {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px !important;
                font-weight: 700;
                line-height: 25px;
                padding-top: 1px !important;
                /* width: 50%;
                 text-align: right;
                 padding-right: 10px*/
            }

            .col-barcode .jancode_inside {
                display: block;
            }

            .col-barcode .jancode_inside .jancode_num {
                display: inline;
            }

            .col-barcode .jancode_inside .jancode_num .jancode_9_num {
                margin-left: 0px;
                font-size: 16px;
                float: left;
                margin-top: 2px;
            }

            .col-barcode .jancode_inside .jancode_num .jancode_4_num {
                margin-right: 5px;
                font-family: sans-serif;
                float: right;
                font-size: 27px;
                font-weight: 600;
            }


            .plan_quantity {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                min-width: 80px !important
            }

            .plan_quantity img {
                height: 25px;
            }

            .shelf_no {
                font-size: 20px;
                text-align: center;
                width: 110px;
                line-height: 10px;
            }

            .column-1 {
                font-size: 26px;
                font-weight: bold;
                width: 110px;
                text-align: center;
                vertical-align: middle;
            }

            table tbody tr {
                max-height: 60px !important;
            }
            .page_break {
                page-break-before: always;
            }
            .header1_left{
                position: absolute;
                left: 0;
            }
            .header1_right{
                position: absolute;
                right: 0;
            }
            .text_right_header{
                text-align: left;
                width: 450px;
                margin-top: 20px;
                line-height: 1.5;
            }
            .top_table{
                text-align: center;
            }
            .signbox .tr-content > td {
                font-size: 14px;
                border: 1px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 4px 4px;
            }
            .signbox >table{
                border-collapse: collapse;
            }
            .tblFooterLeft{ height: 159px;
                width: 98.1591%;
                border-color: black;
                border-style: solid;
                height: 159px;
                border-width: 1px;
            }
            .footer1{
                padding-top: 10px;
            }

            .pagebreak {
                page-break-before: always;
            }

            .text-center {
                text-align: center;
            }
            .left_background{
                background-color: #fce4d6;
                color: #000;
                font-weight: normal;
            }
            #dash {
                width: 100%;
                height: 10px;
                margin-bottom: 15px;
            }
            table {
                background-color: transparent;
                border-spacing: 0;
            }
            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }
            .table-bordered {
                border: 1px solid #ddd;
            }
            .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
                border: 1px solid #ddd;
            }
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }
            .text-right {
                text-align: right;
            }
            .col-xs-3 {
                width: 25%;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .col-xs-4 {
                width: 33.33333333%;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .col-xs-5 {
                width: 38%;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .ec-mypageRole img {
                width: 100%;
                max-width: 100%;
            }
            .ec-mypageRole *, .ec-mypageRole *::before, .ec-mypageRole *::after {
                box-sizing: inherit;
            }
            .ec-mypageRole *, .ec-mypageRole *::before, .ec-mypageRole *::after {
                box-sizing: inherit;
            }
            .row:after {
                clear: both;
            }
            .img-thumbnail {
                padding: 4px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                display: inline-block;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            .col-xs-2 {
                position: relative;
                min-height: 1px;
                max-height: 300px;
                padding-right: 15px;
                padding-left: 15px;
                width: 16.66666667%;
            }
            u {
                text-decoration-line: underline;
                text-underline-offset: 5px;
            }
        </style>
    </head>
    <body style="margin: -25px 25px -5px 25px; margin-top: 0; margin-bottom: 25px;">
    {% set page = 0 %}
    {% for item in data %}
        <div class="pagebreak">
            {% set page = page + 1 %}
            <div class="">
                <header class="header">
                    <div class="title"><u>返品リスト</u></div>
                    <div class="clear-float"></div>
                </header>

                <div class="shelf_title">
                    <div class="header1_left">
                        <div>
                            <img src="data:image/png;base64, {{ item.barcode }}" style="max-width: 250px;"/>
                        </div>
                    </div>

                    <div class="header1_right">
                        <div>
                            <p>発行日：{{ item.create_date }}</p>
                        </div>
                    </div>
                </div>

                <div class="returns-info">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">返品番号</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.returns_no }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">お客様</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.company_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">出荷先</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.shipping_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">届け先</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.otodoke_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">出荷指示№</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.shipping_no }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">出荷日</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.shipping_date|date('Y-m-d') }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">JANコード</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.jan_code }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">商品名</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.product_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">出荷数</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.shipping_num }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">返品理由</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.returns_reson }}</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">コメント</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.customer_comment }}</p>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">返品数</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.returns_num }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">返品依頼日</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                <p>{{ item.returns_request_date|date('Y-m-d') }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">返品承認日</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                {% if item.aprove_date is not empty %}
                                    <p>{{ item.aprove_date|date('Y-m-d') }}</p>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td class="col-xs-3 text-right left_background">
                                <label for="customer_code">送料</label>
                            </td>
                            <td class="col-xs-9 text-left">
                                {% if item.shipping_fee == 1 %}
                                    <span style="background: black; border-radius: 50%; font-size: 0.8em">〇</span>
                                    <span>元払い</span>&nbsp;&nbsp;
                                    <span>〇</span>
                                    <span>着払い</span>
                                {% elseif item.shipping_fee == 2 %}
                                    <span>〇</span>
                                    <span>元払い</span>&nbsp;&nbsp;
                                    <span style="background: black; border-radius: 50%; font-size: 0.8em">〇</span>
                                    <span>着払い</span>
                                {% else %}
                                    <span>〇</span><span>元払い</span>&nbsp;&nbsp;
                                    <span>〇</span><span>着払い</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center left_background" colspan="2">
                                <label>商品画像</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="display: inline-flex">
                                    {% if item.cus_image_url_path1|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path1 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                    {% if item.cus_image_url_path2|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path2 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                    {% if item.cus_image_url_path3|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path3 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                    {% if item.cus_image_url_path4|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path4 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                    {% if item.cus_image_url_path5|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path5 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                    {% if item.cus_image_url_path6|trim is not empty %}
                                        <div class="col-xs-3">
                                            <img src="{{ item.cus_image_url_path6 }}" class="img-thumbnail"/>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>

                    {#<div id="dash" style="background-image: url('{{ line }}');"></div>#}
                    <hr style="border: 2px black dashed;  margin-bottom: 15px;">

                    <div class="col-xs-12 text-left">
                        <p><strong>【郵送先】</strong></p>
                        <p>〒559-0032</p>
                        <p>大阪府大阪市住之江区南港南2-4-43 GLP大阪3階</p>
                        <p>株式会社HMKロジサービス XBRAID JAPAN様出荷センター</p>

                        {% if data|length > 1 %}
                            <p style="float: right">page {{ page }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </body>
</html>

