{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav__history'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>
        <style>
            .myTable>thead>tr>th{
                white-space: nowrap;
            }



        </style>

            <iframe id="my_iframe" style="display:none;"></iframe>
                <script>
                function Download(url) {
                    document.getElementById('my_iframe').src = url;
                };
        </script>
        <div class="ec-mypageRole">
            {% if pagination.totalItemCount > 0 %}
                <p class="ec-para-normal">{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}</p>
                <table class="table myTable">
                    <thead>
                    <tr>
                        <th title="order_no_type">{{ 'front.order.order_no_type'|trans| raw }}</th>
                        <th title="order_no">{{ 'front.order.order_no'|trans| raw }}</th>
                        <th title="order_lineno">{{ 'front.order.order_lineno'|trans| raw }}</th>
                        <th title="image">{{ 'front.order.image'|trans| raw }}</th>
                        <th title="product_name">{{ 'front.order.product_name'|trans| raw }}</th>
                        <th title="product_code">{{ 'front.order.product_code'|trans| raw }}</th>

                        <th title="order_status" style="text-align: center;">{{ 'front.order.order_status'|trans| raw }}</th>
                        <th title="shipping_status"  style="text-align: center;" >{{ 'front.order.shipping_status'|trans| raw }}</th>
                        <th title="order_plus">{{ 'front.order.order_plus'|trans| raw }}</th>
                        <th title="reserve_stock_num">{{ 'front.order.reserve_stock_num'|trans| raw }}</th>
                        <th title="order_remain_num">{{ 'front.order.order_remain_num'|trans| raw }}</th>


                        <th title="update_date">{{ 'front.order.update_date'|trans| raw }}</th>
                        <th title="shipping_date">{{ 'front.order.shipping_date'|trans| raw }}</th>
                        <th title="inquiry_no"  style="text-align: center;" >{{ 'front.order.inquiry_no'|trans| raw }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for Order in pagination %}





                            <tr>
                                <td>{{Order.order_type}}</td>
                                <td>{{Order.ec_order_no}}</td>
                                <td>{{Order.order_line_no}}</td>
                                <td>
                                    {% if Order.main_img is null %}#}
                                    <img style="width: 100px" src="{{ asset(''|no_image_product, 'save_image') }}"/>
                                    {% else %}
                                        <img  style="width: 100px"  src="{{ asset(Order.main_img|no_image_product, 'save_image') }}">
                                    {% endif %}
                                </td>
                                <td>{{Order.product_name}}</td>
                                <td>{{Order.product_code}}</td>
                                <td>{{Order.order_status}}</td>
                                <td>{{Order.shipping_status}}</td>

                                <td>{{Order.reserve_stock_num+Order.order_remain_num}}</td>


                                <td>{{Order.reserve_stock_num}}</td>

                                <td>{{Order.order_remain_num}}</td>

                                <td>{{Order.update_date}}</td>
                                <td>{{Order.shipping_date}}</td>
                                <td><a target="_blank" href="/mypage/exportOrderPdf?inquiry_no={{Order.inquiry_no}}">{{Order.inquiry_no}}</a> </td>




                            </tr>




{#                        {% endfor %}#}

{#                        {{ dump(Order,hsProductImgMain[Order['product_id']]) }}#}


                    {% endfor %}
                    </tbody>
                </table>
                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                </div>
            {% else %}
                <p class="ec-para-normal">{{ 'front.mypage.history_not_found'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
