{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-multiselect.min.css') }}">
{% endblock stylesheet %}

{% block main %}
    <style>
        div.multiselect-container.dropdown-menu {
            color: black;
        }
        div.open>.dropdown-menu {
            display: inline-grid;
        }
        .dropdown-item.multiselect-all {
            width: 100%;
            border: none;
            padding-bottom: 5px;
        }
        .multiselect-option.dropdown-item {
            width: 100%;
            border: none;
        }
        .multiselect-option .form-check {
            padding: 0;
        }
        .multiselect-container .multiselect-option .form-check-input {
            display: none;
        }
        .multiselect-container .multiselect-option .form-check {
            float: left;
        }
        .multiselect-container .multiselect-filter>input.multiselect-search {
            margin-left: 0;
        }
        .multiselect-container .multiselect-filter>.fa-search {
            position: absolute;
            margin: 9px 0px 0 -3px;
        }
        button.multiselect {
            display: none;
        }
    </style>

    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav_order__history'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>

        <style>
            .myTable>thead>tr>th {
                white-space: nowrap;
            }
        </style>

        <iframe id="my_iframe" style="display:none;"></iframe>
        <script>
                function Download(url) {
                    document.getElementById('my_iframe').src = url;
                };
        </script>

        <style>
            .disBg {
                background: #A7A7A7;
                border-color: #A7A7A7;
            }
            .actBg {
             background: #0065ff;
            }
        </style>

        <div class="ec-mypageRole">
            {% if pagination.totalItemCount > 0 %}
                <p class="ec-para-normal">{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}</p>
            {% endif %}

            <table class="table myTable">
                <thead>
                    <tr>
                        <th title="order_no_type">{{ 'front.order.order_no_type'|trans| raw }}</th>
                        <th title="order_no">{{ 'front.order.order_no'|trans| raw }}</th>
                        <th title="order_lineno">{{ 'front.order.order_lineno'|trans| raw }}</th>
                        <th title="order_date" style="max-width: 100px">
                            {{ 'front.order.order_date'|trans| raw }}
                            <a href="javascript:void(0)" style="color: red;" class="multiselect dropdown-toggle search_order_date">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <br/>
                            <select id="search_order_date" name="search_order_date" onchange="handleSearch(this)">
                                <option value="0" {% if 0 == search_order_date %}selected{%  endif %}>すべて</option>
                                {% for orderDate in orderDateOpt %}
                                    <option value="{{orderDate.key}}" {% if orderDate.key == search_order_date %}selected{%  endif %}>{{orderDate.value}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th title="shipping_code otodoke_code" style="min-width: 150px">
                            {{ 'front.mypage.shipping_code'|trans| raw }}
                            <a href="javascript:void(0)" style="color: red; {% if orderShippingOpt|length < 2 %} visibility: hidden; {% endif %}" class="multiselect dropdown-toggle search_order_shipping" onclick="handleGetLastSelected()">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <br/>
                            <select id="search_order_shipping" name="search_order_shipping" onchange="handleSearch(this)">
                                <option value="0" {% if 0 == search_order_shipping %}selected{%  endif %}>すべて</option>
                                {% for orderShipping in orderShippingOpt %}
                                    <option value="{{orderShipping.key}}" {% if orderShipping.key == search_order_shipping %}selected{%  endif %}>{{orderShipping.value}}</option>
                                {% endfor %}
                            </select>
                            <input type="text" value="" id="last_order_shipping" hidden>
                            <br/>
                            {{ 'front.mypage.otodoke_code'|trans| raw }}
                            <a href="javascript:void(0)" style="color: red; {% if orderOtodokeOpt|length < 2 %} visibility: hidden; {% endif %}" class="multiselect dropdown-toggle search_order_otodoke">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <br/>
                            <select id="search_order_otodoke" name="search_order_otodoke" onchange="handleSearch(this)">
                                <option value="0" {% if 0 == search_order_otodoke %}selected{%  endif %}>すべて</option>
                                {% for orderOtodoke in orderOtodokeOpt %}
                                    <option value="{{orderOtodoke.key}}" {% if orderOtodoke.key == search_order_otodoke %}selected{%  endif %}>{{orderOtodoke.value}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th title="image">{{ 'front.order.image'|trans| raw }}</th>
                        <th style="text-align: left;" title="product_code product_name remarks1 remarks2 remarks3 remarks4">
                            {{ 'front.order.jan_code'|trans| raw }}<br/>
                            {{ 'front.order.product_name'|trans| raw }}<br/>
                            {{ 'front.mypage.remarks'|trans| raw }}１<br/>
                            {{ 'front.mypage.remarks'|trans| raw }}２<br/>
                            発注書宛先<br/>
                            発注書備考
                        </th>
                        <th title="order_status" style="text-align: left; max-width: 100px">
                            {{ 'front.order.order_status'|trans| raw }}
                            <a href="javascript:void(0)" style="color: red;" class="multiselect dropdown-toggle search_order_status">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <br/>
                            <select id="search_order_status" name="search_order_status" onchange="handleSearch(this)">
                                <option value="" {% if '' == search_order_status %}selected{%  endif %}>すべて</option>
                                {% for orderStatus in orderStatusOpt %}
                                    <option value="{{orderStatus.key}}" {% if orderStatus.key == search_order_status %}selected{%  endif %}>{{orderStatus.value}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th title="shipping_status"  class="hide" style="text-align: center;" >{{ 'front.order.shipping_status'|trans| raw }}</th>
                        <th title="order_plus" style="text-align: right">{{ 'front.order.order_plus'|trans| raw }}</th>
                        <th title="reserve_stock_num" style="text-align: right">{{ 'front.order.reserve_stock_num'|trans| raw }}</th>
                        <th title="order_remain_num" style="text-align: right">{{ 'front.order.order_remain_num'|trans| raw }}</th>
                        <th title="update_date" class="hide">{{ 'front.order.update_date'|trans| raw }}</th>
                        <th class="hide" title="shipping_date">{{ 'front.order.shipping_date'|trans| raw }}</th>
                        <th title="shipping_no">{{ 'front.mypage.shipping_no_no'|trans| raw }}</th>
                    </tr>
                </thead>
                {% if pagination.totalItemCount > 0 %}
                    <tbody>
                        {% for Order in pagination %}
                            <tr>
                                <td>{{Order.order_type}}</td>
                                <td>{{Order.cus_order_no}}</td>
                                <td>{{Order.cus_order_lineno}}</td>
                                <td>{{Order.order_date|date_format('','Y-m-d')}}</td>
                                <td>
                                    {{Order.shipping_name}}<br/>
                                    {{Order.otodoke_name}}
                                </td>
                                <td>
                                    {% if Order.main_img is null %}
                                        <img style="width: 100px" src="{{ asset(''|no_image_product, 'save_image') }}"/>
                                    {% else %}
                                        <img  style="width: 100px" src="{{ asset(Order.main_img|no_image_product, 'save_image') }}">
                                    {% endif %}
                                </td>
                                <td>
                                    {{Order.jan_code}}<br/>
                                    {{Order.product_name}}<br/>
                                    {{Order.remarks1}}<br/>
                                    {{Order.remarks2}}<br/>
                                    {{Order.remarks3}}<br/>
                                    {{Order.remarks4}}
                                </td>
                                <td>{{Order.order_status}}</td>
                                <td class="hide">{{Order.shipping_status}}</td>
                                <td style="text-align: right">{{Order.order_remain_num}}</td>
                                <td style="text-align: right">{{Order.reserve_stock_num}}</td>
                                <td style="text-align: right">{{Order.order_remain_num - Order.reserve_stock_num}}</td>
                                <td class="hide">{{Order.update_date}}</td>
                                <td class="hide">{{Order.shipping_date}}</td>
                                <td>
                                    {% if Order.shipping_no %}
                                        <a class=" btn btn-primary actBg " onclick="loadDataFor('all', '{{Order.ec_order_no}}','{{ Order.shipping_no }}', '{{Order.jan_code}}')" href="javascript:;"  data-toggle="modal" data-target="#flipFlopTest">
                                            出荷伝票状況
                                        </a>
                                        <br/><br/>
                                        <a class=" btn btn-primary actBg " onclick="loadDataFor('one', '{{Order.ec_order_no}}','{{ Order.shipping_no }}', '{{Order.jan_code}}')" href="javascript:;"  data-toggle="modal" data-target="#flipFlopTest">
                                            出荷明細状況
                                        </a>
                                    {% else %}
                                        <div class=" btn btn-primary disabled disBg">出荷伝票状況</div>
                                        <br/><br/>
                                        <div class=" btn btn-primary disabled disBg">出荷明細状況</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                {% else %}
                    <tbody>
                        <tr>
                            <td colspan="12">
                                <p>注文履歴はありません。</p>
                            </td>
                        </tr>
                    </tbody>
                {% endif %}
            </table>

            {% if pagination.totalItemCount > 0 %}
                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                </div>
            {% endif %}
        </div>

        {% include "Mypage/modal_list.twig" with {'shipping_no':'Test' } %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/bootstrap-multiselect.min.js') }}"></script>

    <script>
        function updateShipingAddress(type, shipping_no, ec_order_no, jan_code) {
            $('.showbody').html("loading...");

            let dataSend    = {
                type : type,
                shipping_no:shipping_no,
                order_no:ec_order_no,
                jan_code:jan_code,
                '_token':'{{ csrf_token('_token') }}',
            };

            $.ajax({
                url: '/mypage/shipping_list',
                type: 'GET',
                data: dataSend
            })
            .done(function(htmlRe, statusText, jqXHR) {
                $('.showbody').html(htmlRe);
            })
            .fail(function(jqXHR, statusText, errorThrown) {
            });
        }

        function loadDataFor(type, ec_order_no, shipping_no, jan_code) {
            updateShipingAddress(type, shipping_no,ec_order_no, jan_code);
        }

        $('#search_order_date').multiselect({
            // includeSelectAllOption: true,
            // selectAllText: 'すべて',
            enableFiltering: true,
            filterPlaceholder: '検索',
            checkboxName: function(option) {
                return 'multiselect[]';
            },
            buttonWidth: '150px',
            buttonHeight: '34px',
            buttonText: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else if (options.length == 14) {
                    return 'すべて';
                }
                else if (options.length > 2) {
                    return options.length + 'ヶ月選択済み';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonTitle: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonClass:'search_order_date',
            nonSelectedText: '注文日検索',
        });

        $('#search_order_status').multiselect({
            // includeSelectAllOption: true,
            // selectAllText: 'すべて',
            // enableFiltering: true,
            // filterPlaceholder: '検索',
            checkboxName: function(option) {
                return 'multiselect[]';
            },
            buttonWidth: '150px',
            buttonHeight: '34px',
            buttonText: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else if (options.length == 14) {
                    return 'すべて';
                }
                else if (options.length > 2) {
                    return options.length + 'ヶ月選択済み';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonTitle: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonClass:'search_order_status',
            nonSelectedText: '注文日検索',
        });

        $('#search_order_shipping').multiselect({
            // includeSelectAllOption: true,
            // selectAllText: 'すべて',
            enableFiltering: true,
            filterPlaceholder: '検索',
            disableIfEmpty: true,
            checkboxName: function(option) {
                return 'multiselect[]';
            },
            buttonWidth: '150px',
            buttonHeight: '34px',
            buttonText: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else if (options.length == 14) {
                    return 'すべて';
                }
                else if (options.length > 2) {
                    return options.length + 'ヶ月選択済み';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonTitle: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonClass:'search_order_shipping',
            nonSelectedText: '注文日検索',
        });

        $('#search_order_otodoke').multiselect({
            // includeSelectAllOption: true,
            // selectAllText: 'すべて',
            enableFiltering: true,
            filterPlaceholder: '検索',
            disableIfEmpty: true,
            checkboxName: function(option) {
                return 'multiselect[]';
            },
            buttonWidth: '150px',
            buttonHeight: '34px',
            buttonText: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else if (options.length == 14) {
                    return 'すべて';
                }
                else if (options.length > 2) {
                    return options.length + 'ヶ月選択済み';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonTitle: function(options, select) {
                if (options.length === 0) {
                    return '未選択';
                }
                else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     labels.reverse();
                     return labels.join(', ') + '';
                }
            },
            buttonClass:'search_order_otodoke',
            nonSelectedText: '注文日検索',
        });

        var typingTimer;
        var doneTypingInterval      = 2000;

        function handleSearch(target) {
            let name                = target.name;
            let value               = target.value;
            let origin              = window.location.origin;
            let pathname            = window.location.pathname;
            let search              = window.location.search;
            pathname                += "?pageno=1";

            if (name == 'search_order_date') {
                clearTimeout(typingTimer);
                loadingOverlay('hide');

                typingTimer         = setTimeout(function () {
                    loadingOverlay();
                    handelChangeDate(origin, pathname, search);
                }, doneTypingInterval);
            }

            if (name == 'search_order_status') {
                clearTimeout(typingTimer);
                loadingOverlay('hide');

                typingTimer         = setTimeout(function () {
                    loadingOverlay();
                    handelChangeStatus(origin, pathname, search);
                }, doneTypingInterval);
            }

            if (name == 'search_order_shipping') {
                loadingOverlay();
                let previousSelected    = $("input#last_order_shipping").val();
                let lastSelected        = $("#search_order_shipping option:selected").last().val();

                if (value == previousSelected) {
                    value               = lastSelected;
                }

                $('#search_order_shipping').multiselect('deselectAll');

                setTimeout(function () {
                    $('#search_order_shipping').multiselect('select', value);
                    handelChangeShipping(origin, pathname);
                }, 200);
            }

            if (name == 'search_order_otodoke') {
                clearTimeout(typingTimer);
                loadingOverlay('hide');

                typingTimer         = setTimeout(function () {
                    loadingOverlay();
                    handelChangeOtodoke(origin, pathname, search);
                }, doneTypingInterval);
            }
        }

        function handleGetLastSelected() {
            let lastSelected        = $("#search_order_shipping option:selected").last().val();
            if (lastSelected) {
                $("input#last_order_shipping").val(lastSelected);
            }

            else {
                $("input#last_order_shipping").val('');
            }
        }

        function handelChangeDate(origin, pathname, search) {
            pathname += "&order_date=" + $("#search_order_date").val();
            window.location.href = origin + pathname;
        }

        function handelChangeStatus(origin, pathname, search) {
            pathname += "&order_status=" + $("#search_order_status").val();
            window.location.href = origin + pathname;
        }

        function handelChangeShipping(origin, pathname) {
            pathname    += "&order_shipping=" + $("#search_order_shipping").val();
            window.location.href     = origin + pathname;
        }

        function handelChangeOtodoke(origin, pathname, search) {
            pathname += "&order_shipping=" + $("#search_order_shipping").val();
            pathname += "&order_otodoke=" + $("#search_order_otodoke").val();
            window.location.href = origin + pathname;
        }

        $("a.multiselect.dropdown-toggle.search_order_date").on("click", function() {
            let button          = $("button.search_order_date");
            let aria_expanded   = button.attr("aria-expanded");
            if (!aria_expanded || aria_expanded == 'false') {
                setTimeout(function() {
                    button.click();
                }, 100);
            }
        })

        $("a.multiselect.dropdown-toggle.search_order_status").on("click", function() {
            let button          = $("button.search_order_status");
            let aria_expanded   = button.attr("aria-expanded");
            if (!aria_expanded || aria_expanded == 'false') {
                setTimeout(function() {
                    button.click();
                }, 100);
            }
        })

        $("a.multiselect.dropdown-toggle.search_order_shipping").on("click", function() {
            let button          = $("button.search_order_shipping");
            let aria_expanded   = button.attr("aria-expanded");
            if (!aria_expanded || aria_expanded == 'false') {
                setTimeout(function() {
                    button.click();
                }, 100);
            }
        })

        $("a.multiselect.dropdown-toggle.search_order_otodoke").on("click", function() {
            let button          = $("button.search_order_otodoke");
            let aria_expanded   = button.attr("aria-expanded");
            if (!aria_expanded || aria_expanded == 'false') {
                setTimeout(function() {
                    button.click();
                }, 100);
            }
        })
    </script>
{% endblock %}
