{% extends 'default_frame.twig' %}
{% set mypageno = 'return_history' %}
{% set body_class = 'mypage' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/select2/select2.min.css', 'user_data') }}">
<style>
	.search,
	.search:hover,
	.search:focus {
		color: #fff;
	}
	.p-0 {
		padding: 0;
	}
	.p-l-15 {
		padding-left: 15px;
	}
	.p-r-15 {
		padding-right: 15px;
	}
	.table {
		font-size: 87.5%;
		margin: 0 0 50px;
	}
	.table thead tr th {
		background: #666;
		font-size: 93.75%;
		color: #fff;
		text-align: center !important;
		vertical-align: middle;
		border-top: 2px solid #ccc !important;
		border-bottom: 2px solid #ccc !important;
		border-left: 1px dotted #ccc;
		padding: 0.5em;
	}
	.table tbody tr:nth-child(even) td {
		background: #fdfdf4;
	}
	.table tbody tr td:first-child {
		border-left: none;
	}
	.table tbody tr td {
		text-align: center!important;
		vertical-align: middle;
		border-top: none!important;
		border-bottom: 2px solid #ccc!important;
		border-left: 1px dotted #ccc;
		padding: 0.5em;
	}
</style>
{% endblock stylesheet %}

{% block main %}
	<div class="ec-layoutRole__main">
		<div class="ec-mypageRole">
			<div class="ec-pageHeader">
				<h1>{{ "front.mypage.title" | trans }}/{{"front.mypage.nav_return_history_product" | trans}}</h1>
			</div>
			{% include 'Mypage/navi.twig' %}
		</div>
		<div class="ec-mypageRole">
			{% if pagination and pagination.totalItemCount > 0 %}
				<p class="ec-para-normal">
					{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}
				</p>
			{% endif %}

			<div class="row p-l-15 p-r-15">
				<button class="btn btn-danger btn-print-pdf" disabled="" onclick="handlePrintPDF()">返品リストダウンロード</button>
				<input type="hidden" id="check-box-value-print-pdf" value=""/>
			</div>

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th title="選択">
								<input type="checkbox" class="check-box-all-print-pdf" name="check-box-all-print-pdf" value="" onchange="handleCheckBox(this)"/>
								<p class="text-nowrap">選択</p>
							</th>

							<th title={{ "front.mypage.history.return_no" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.return_no" | trans | raw }}</p>
							</th>

							<th title={{ "front.mypage.history.return_request_date" | trans | raw }} style="min-width: 110px;">
								<select class="hidden" id="search_request_date" name="search_shipping_date">
									<option value="0" {% if param.search_request_date == 0 %} selected {% endif %}>全て</option>
									{% for request_date in request_date_list %}
										<option value="{{ request_date }}" {% if param.search_request_date == request_date %} selected {% endif %}>{{ request_date }}</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_request_date').select2('open')">
									{{ "front.mypage.history.return_request_date" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
							</th>

							<th title={{ "front.mypage.history.reason_return" | trans | raw }}>
								<select class="hidden" id="search_reason_return" name="search_reason_return">
									<option value="0" {% if param.search_reason_return == 0 %} selected {% endif %}>全て</option>
									{% for returns_reson in returns_resons %}
										<option
											value="{{ returns_reson.returns_reson_id }}" {% if param.search_reason_return == returns_reson.returns_reson_id %} selected {% endif %}
										>
											{{ returns_reson.returns_reson }}
										</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_reason_return').select2('open')">
									{{ "front.mypage.history.reason_return" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
							</th>

							<th title={{ "front.mypage.history.return_status" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.return_status" | trans | raw }}</p>
							</th>

							<th title={{ "front.mypage.history.shipping_no" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.shipping_no" | trans | raw }}</p>
							</th>

							<th title={{ "front.mypage.history.shipping_date" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.shipping_date" | trans | raw }}</p>
							</th>

							<th title={{ "front.order.cus_order_no" | trans | raw }}>
								<p class="text-nowrap">{{ "front.order.cus_order_no" | trans | raw }}</p>
							</th>

							<th title={{ "front.order.cus_order_lineno" | trans | raw }}>
								<p class="text-nowrap">{{ "front.order.cus_order_lineno" | trans | raw }}</p>
							</th>

							<th title='{{ "front.mypage.history.shiping_code" | trans | raw}} {{ "front.mypage.history.otodoke_code" | trans | raw }}'>
								<select class="hidden" id="search_shipping" name="search_shipping">
									<option value="0" {% if param.search_shipping == 0 %} selected {% endif %}>全て</option>
									{% for shipping in shippings %}
										<option
											value="{{ shipping.shipping_no }}"
											{% if param.search_shipping == shipping.shipping_no %} selected {% endif %}
										>
											{{ shipping.name01 }} 〒 {{ shipping.postal_code }} {{ shipping.addr01 }} {{ shipping.addr02 }} {{ shipping.addr03 }}
										</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_shipping').select2('open')">
									{{ "front.mypage.history.shiping_code" | trans | raw}} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
								<br/>
								<select class="hidden" id="search_otodoke" name="search_otodoke">
									<option value="0" {% if param.search_otodoke == 0 %} selected {% endif %}>全て</option>
									{% for otodoke in otodokes %}
										<option
											value="{{ otodoke.otodoke_code }}"
											{% if param.search_otodoke == otodoke.otodoke_code %} selected {% endif %}
										>
											{{ otodoke.name01 }} 〒 {{ otodoke.postal_code }} {{ otodoke.addr01 }} {{ otodoke.addr02 }} {{otodoke.addr03 }}
										</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_otodoke').select2('open')">
									{{ "front.mypage.history.otodoke_code" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
							</th>

							<th title='{{ "front.mypage.history.jan_code" | trans | raw }} {{ "front.mypage.history.product_name" | trans | raw }}'>
								<p class="text-nowrap">{{ "front.mypage.history.jan_code" | trans | raw }}</p>
								<p class="text-nowrap">{{ "front.mypage.history.product_name" | trans | raw }}</p>
							</th>

							<th title={{ "front.mypage.history.shipping_num" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.shipping_num" | trans | raw }}</p>
							</th>

							<th title={{ "front.mypage.history.return_number" | trans | raw }}>
								<p class="text-nowrap">{{ "front.mypage.history.return_number" | trans | raw }}</p>
							</th>
						</tr>
					</thead>
					{% if pagination and pagination.totalItemCount > 0 %}
						<tbody>
							{% for item in pagination %}
								<tr>
									<td>
										<input type="checkbox" class="check-box-print-pdf" name="check-box-print-pdf" value="{{item.returns_no}}" onchange="handleCheckBox(this)"/>
									</td>

									<td title="{{ item.returns_no }}">
										<p class="text-nowrap">{{ item.returns_no }}</p>
									</td>

									<td title="{{ item.returns_request_date is empty ? "" : item.returns_request_date }}">
										<p class="text-nowrap">{{ item.returns_request_date is empty ? "" : item.returns_request_date }}</p>
									</td>

									<td title="{{ item.returns_reson }}">
										<p class="text-nowrap">{{ item.returns_reson }}</p>
									</td>

									<td title={{ item.returns_status_flag is empty ? "" : item.returns_status_flag }}
										{% if item.returns_status_flag == 2 or item.returns_status_flag == 4 %} onclick="handleShowReason('{{ item.returns_status_flag }}', '{{ item.comment }}')" {% endif %}
									>
										{% if item.returns_status_flag is defined and item.returns_status_flag != null %}
											{% if item.returns_status_flag == 0 %}
												<p class="text-nowrap">申請中</p>
											{% elseif item.returns_status_flag == 1 %}
												<p class="text-nowrap">承認</p>
											{% elseif item.returns_status_flag == 2 %}
												<p class="text-nowrap">未承認</p>
											{% elseif item.returns_status_flag == 3 %}
												<p class="text-nowrap">受取受理</p>
											{% elseif item.returns_status_flag == 4 %}
												<p class="text-nowrap">受取未受理</p>
											{% elseif item.returns_status_flag == 5 %}
												<p class="text-nowrap">返品完了</p>
											{% endif %}
										{% else %}
											<p class="text-nowrap"></p>
										{% endif %}
									</td>

									<td title="{{ item.shipping_no }}">
										<p class="text-nowrap">{{ item.shipping_no }}</p>
									</td>

									<td title="{{ item.shipping_date is empty ? "" : item.shipping_date }}">
										<p class="text-nowrap">{{ item.shipping_date is empty ? "" : item.shipping_date }}</p>
									</td>

									<td title="{{ item.cus_order_no }}">
										<p class="text-nowrap">{{ item.cus_order_no }}</p>
									</td>

									<td title="{{ item.cus_order_lineno }}">
										<p class="text-nowrap">{{ item.cus_order_lineno }}</p>
									</td>

									<td title="{{ item.shipping_name }} | {{ item.otodoke_name }}">
										<p class="text-nowrap">{{ item.shipping_name }}</p>
										<p class="text-nowrap">{{ item.otodoke_name }}</p>
									</td>

									<td title="{{ item.jan_code }} | {{ item.product_name }}">
										<p class="text-nowrap">{{ item.jan_code }}</p>
										<p class="text-nowrap">{{ item.product_name }}</p>
									</td>

									<td>
										<p class="text-nowrap">
											{% if item.quantity > 1 %}
												{{ item.shipping_num * item.quantity }}
											{% else %}
												{{ item.shipping_num }}
											{% endif %}
										</p>
									</td>

									<td title="{{ item.returns_num }}">
										<p class="text-nowrap">{{ item.returns_num }}</p>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					{% else %}
						<tbody>
							<tr>
								<td colspan="12">
									<p>返品手続きの履歴がありません。</p>
								</td>
							</tr>
						</tbody>
					{% endif %}
				</table>
			</div>

			{% if pagination and pagination.totalItemCount > 0 %}
				<div class="ec-pagerRole">
					{% include "pager.twig" with {'pages': pagination.paginationData} %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock main%}

{% block javascript %}
<script src="{{ asset('assets/js/select2/select2.min.js', 'user_data') }}"></script>
<script>
	var search_request_date = "{{ param.search_request_date }}"
	var search_reason_return = "{{ param.search_reason_return }}"
	var search_shipping      = "{{ param.search_shipping }}"
	var search_otodoke       = "{{ param.search_otodoke }}"

	function reload() {
		loadingOverlay("show")
		let _parser = new URL( "{{ url('mypage_return_history') }}" )
		_parser.searchParams.set( 'search_request_date', search_request_date )
		_parser.searchParams.set( 'search_reason_return', search_reason_return )
		_parser.searchParams.set( 'search_shipping', search_shipping )
		_parser.searchParams.set( 'search_otodoke', search_otodoke )
		window.location = _parser.href
	}

	$( function() {
		$("#search_request_date").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_request_date = e.params.data.id
			reload()
		});
		
		$("#search_reason_return").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_reason_return = e.params.data.id
			reload()
		});

		$("#search_shipping").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_shipping = e.params.data.id
			if( search_shipping == 0 ) search_otodoke = 0
			reload()
		});

		$("#search_otodoke").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_otodoke = e.params.data.id
			reload()
		});
	});

	function handleCheckBox(target) {
            let name                = target.name;

            if (name == 'check-box-print-pdf') {
                let temp_value = '';
                let count = 0;
                $(".check-box-print-pdf").each(function () {
                    if (this.checked) {
                       temp_value += ',' + $(this).val();
                       count++;
                    }
                });

                if (count > 0) {
                    $("#check-box-value-print-pdf").val(temp_value);
                    $(".btn-print-pdf").prop('disabled', false);

                    if (count == {{ pagination.totalItemCount }}) {
                        $(".check-box-all-print-pdf").prop("checked", true);
                    } else {
                        $(".check-box-all-print-pdf").prop("checked", false);
                    }

                } else {
                	$("#check-box-value-print-pdf").val('');
                    $(".btn-print-pdf").prop('disabled', true);
                }
            }

            if (name == 'check-box-all-print-pdf') {
                let temp_value = '';
                let count = 0;

                if (target.checked) {
                    $(".check-box-print-pdf").each(function () {
                        temp_value += ',' + $(this).val();
                        count++;
                    });
                    $(".check-box-print-pdf").prop("checked", true);

                } else {
                    count = 0;
                    $(".check-box-print-pdf").prop("checked", false);
                }

                if (count > 0) {
                    $("#check-box-value-print-pdf").val('all');
                    $(".btn-print-pdf").prop('disabled', false);
                } else {
                    $("#check-box-value-print-pdf").val('');
                    $(".btn-print-pdf").prop('disabled', true);
                }
            }
        }

    function handlePrintPDF() {
            path = '&search_request_date=' + search_request_date;
            path += '&search_reason_return=' + search_reason_return;
            path += '&search_shipping=' + search_shipping;
            path += '&search_otodoke=' + search_otodoke;

            let url = '/mypage/return/history/export/pdf?return_no=' + $("#check-box-value-print-pdf").val() + path;

            console.log(url);
            let a = document.createElement('a');
            a.target = '_blank';
            a.href = url;
            a.click();
    }

    function handleShowReason(status, comment) {
		let title = '';

		if (status == '2') {
			title = '未承認';
		}

		if (status == '4') {
			title = '受取未受理';
		}

		swal({
			title: title,
			text: comment,
			icon: "",
			dangerMode: false,
			buttons: {
				confirm: "OK"
			},
		})
    }
</script>
{% endblock %}
