{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
<style>
	.left_background{
		background-color: #fce4d6;
		color: #000;
		font-weight: normal;
	}
	.btn-warning,
	.btn-warning:hover,
	.btn-warning:active {
		color: #000;
		background-color: #ffc000;
		border-color: #ffc000;
		font-weight: bold;
	}
	label.error {
		color: #f00;
		font-weight: inherit;
	}
</style>
{% endblock stylesheet%}

{% block main %}
	<div class="ec-layoutRole__main">
		<div class="ec-mypageRole">
			<div class="ec-pageHeader">
				<h1>返品承認</h1>
			</div>
		</div>
		<div class="ec-mypageRole">
			<div class="col-xs-12">
				<form id="form_return_approve" class="form-horizontal"  action="{{ url('mypage_return_approve_finish', { 'returns_no':product_returns_info.returns_no }) }}" method="POST" enctype="multipart/form-data">
					<table class="table table-bordered">
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">返品番号</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.returns_no }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">お客様</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ customer.company_name }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">出荷先</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.shipping_name }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">届け先</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.otodoke_name }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">出荷指示№</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.shipping_no }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">出荷日</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.shipping_date|date('Y/m/d') }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">JANコード</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.jan_code }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">商品名</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_name }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">出荷数</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.shipping_num }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">返品理由</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ returns_reson_text }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">顧客コメント</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.customer_comment }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="cus_reviews_flag1">顧客からみた<br>良品・不良品</label>
							</td>
							<td class="col-xs-10 text-left">
								<label class="radio-inline">
									<input type="radio" name="cus_reviews_flag" id="cus_reviews_flag1" value="1" required
										{% if product_returns_info.cus_reviews_flag == 1 %} checked {% endif %} > 良品
								</label>
								<label class="radio-inline">
									<input type="radio" name="cus_reviews_flag" id="cus_reviews_flag2" value="2" required
										{% if product_returns_info.cus_reviews_flag == 2 %} checked {% endif %} > 不良品
								</label>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">返品数</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ returns_num }}</p>
								<input type="hidden" name="returns_num" value="{{ returns_num}} " />
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">返品依頼日</label>
							</td>
							<td class="col-xs-10 text-left">
								<p class="text-nowrap">{{ product_returns_info.returns_request_date|date('Y/d/m') }}</p>
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="customer_code">返品ステータス</label>
							</td>
							<td class="col-xs-10 text-left">
								{% if product_returns_info.returns_status_flag == 1 %}
									<p class="text-nowrap">承認</p>
								{% elseif product_returns_info.returns_status_flag == 2 %}
									<p class="text-nowrap">未承認</p>
								{% elseif product_returns_info.returns_status_flag == 3 %}
									<p class="text-nowrap">受取受理</p>
								{% elseif product_returns_info.returns_status_flag == 4 %}
									<p class="text-nowrap">受取未受理</p>
								{% elseif product_returns_info.returns_status_flag == 5 %}
									<p class="text-nowrap">返品完了</p>
								{% else %}
									<p class="text-nowrap">申請中</p>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="col-xs-2 text-right left_background">
								<label for="shipping_fee1">送料</label>
							</td>
							<td class="col-xs-10 text-left">
								<label class="radio-inline">
									<input type="radio" name="shipping_fee" id="shipping_fee1" value="1" required checked> 元払い
								</label>
								<label class="radio-inline">
									<input type="radio" name="shipping_fee" id="shipping_fee2" value="2" required> 着払い
								</label>
							</td>
						</tr>
						<tr>
							<td class="text-center left_background" colspan="2">
								<label for="images">商品画像</label>
							</td>
						</tr>											
						<tr>
							<td colspan="2">
								<div class="text-right">
									<button type="submit" name="submit" value="aprove" class="btn btn-warning">返品承認</button>
									<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dialog_aprove_comment_not_yet">返品未承認</button>
									<a href="{{ url('mypage_return_history') }}" class="btn btn-warning">閉じる</a>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="row" id="images_preview">
									{% if product_returns_info.cus_image_url_path1|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path1 }}" class="img-thumbnail" />
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path2|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path2 }}" class="img-thumbnail" />
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path3|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path3 }}" class="img-thumbnail" />
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path4|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path4 }}" class="img-thumbnail" />
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path5|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path5 }}" class="img-thumbnail" />
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path6|trim is not empty %} 
										<div class="col-xs-2">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path6 }}" class="img-thumbnail" />
										</div>
									{% endif %}
								</div>
							</td>
						</tr>
					</table>
					<div class="modal" id="dialog_aprove_comment_not_yet" role="dialog">
						<div class="modal-dialog" style="overflow: initial; max-width: 350px;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
									<h5 class="modal-title">未承認コメント入力</h5>
								</div>
								<div class="modal-body">
									<textarea class="form-control" rows="3" id="aprove_comment_not_yet" name="aprove_comment_not_yet"></textarea>
								</div>
								<div class="modal-footer">
									<button type="submit" name="submit" value="aprove_not_yet" class="btn btn-warning">OK</button>
									<button type="button" class="btn btn-warning" data-dismiss="modal">閉じる</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/select2/select2.min.js', 'user_data') }}"></script>
<script src="{{ asset('assets/jquery-ui/jquery-ui.min.js', 'user_data') }}"></script>
<script src="{{ asset('assets/jquery-validation/jquery.validate.min.js', 'user_data') }}"></script>
<script>
$( function() {
	$("#form_return_approve").validate({
		rules: {
			aprove_comment_not_yet: {
				required: true,
			},
		},
		messages: {
			aprove_comment_not_yet: "未承認コメントを入力してください。",
		},
		invalidHandler: function(event, validator) {
			loadingOverlay("hide")
		},
		submitHandler: function(form) {
			form.submit()
		}
	});
})
</script>
{% endblock javascript%}
