{% extends 'default_frame.twig' %}
{% set mypageno = 'return' %}
{% set body_class = 'mypage' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/select2/select2.min.css', 'user_data') }}">
<style>
	.alert-search {
		border: solid 1px #333;
		background-color: #ccc;
		border-radius: 8px;
	}
	.btn-search,
	.btn-search:hover,
	.btn-search:focus {
		background-color: #000;
		color: #fff;
		border-radius: 8px;
	}
	.alert-return {
		float: right;
	}
	.btn-return,
	.btn-return:hover,
	.btn-return:focus {
		border: none;
		border-radius: 0;
		background-color: #f00;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 12px 36px;
		position: relative;
	}
	.btn-return:after {
		content: "";
		position: absolute;
		left: -24px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-top: 24px solid #f00;
		border-bottom: 23px solid #f00;
	}
	.btn-return:before {
		content: "";
		position: absolute;
		right: -24px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 25px solid red;
		border-top: 24px solid transparent;
		border-bottom: 23px solid transparent;
	}
	.search,
	.search:hover,
	.search:focus {
		color: #fff;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
  		-webkit-appearance: none;
  		margin: 0;
	}
	input[type=number] {
  		-moz-appearance: textfield;
	}
</style>
{% endblock stylesheet %}

{% block main %}
	<div class="ec-layoutRole__main">
		<div class="ec-mypageRole">
			<div class="ec-pageHeader">
				<h1>{{ "front.mypage.title" | trans }}/{{"front.mypage.nav_return_product" | trans}}</h1>
			</div>
			{% include 'Mypage/navi.twig' %}
		</div>
		<div class="ec-mypageRole">
			<div class="row">
				<div class="col-md-6">
					<div class="alert alert-search" role="alert">
						<form class="form-inline" method="GET">
							<div class="form-group">
								<label for="jan_code">JANコード</label>
								<input type="text" class="form-control" id="search_jan_code" name="search_jan_code" value="{{ param.search_jan_code }}"/>
							</div>
							<button type="submit" class="btn btn-search">
								<i class="fas fa-angle-double-right" style="color: #f00"></i > 絞り込み
							</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-return" role="alert">
						<a class="btn btn-return" href={{ url('mypage_return_create') }}>
							<i class="fas fa-arrow-right"></i> 一覧にない場合はこちら
						</a>
					</div>
				</div>
			</div>
			{% if pagination and pagination.totalItemCount > 0 %}
				<p class="ec-para-normal">
					{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}
				</p>
			{% endif %}
			<div class="table-responsive">
				<table class="table myTable">
					<thead>
						<tr>
							<th title="{{ "front.mypage.return.return_type" | trans | raw }}">
								<p class="text-nowrap">{{ "front.mypage.return.return_type" | trans | raw }}</p>
							</th>
							<th title="{{ "front.mypage.return.return_number" | trans | raw }}" style="width: 75px;">
								<p class="text-nowrap">{{ "front.mypage.return.return_number" | trans | raw }}</p>
							</th>
							<th title="{{ "front.mypage.return.return_number_request" | trans | raw }}">
								<p class="text-nowrap">{{ "front.mypage.return.return_number_request" | trans | raw }}</p>
							</th>
{#							<th title="{{ "front.mypage.return.return_status" | trans | raw }}">#}
{#								<p class="text-nowrap">{{ "front.mypage.return.return_status" | trans | raw }}</p>#}
{#							</th>#}
							<th title="{{ "front.mypage.return.shipping_no" | trans | raw }}">
								<p class="text-nowrap">{{ "front.mypage.return.shipping_no" | trans | raw }}</p>
							</th>
							<th title="{{ "front.mypage.return.shipping_date" | trans | raw }}">
								<select class="hidden" id="search_shipping_date" name="search_shipping_date">
									<option value="0" {% if param.search_shipping_date == 0 %} selected {% endif %}>全て</option>
									{% for shipping_date in shipping_date_list %}
										<option value="{{ shipping_date }}" {% if param.search_shipping_date == shipping_date %} selected {% endif %}>{{ shipping_date }}</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_shipping_date').select2('open')">
									{{ "front.mypage.return.shipping_date" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
							</th>
							<th title='{{ "front.mypage.return.shiping_code" | trans | raw}}  {{ "front.mypage.return.otodoke_code" | trans | raw }}'>
								<select class="hidden" id="search_shipping" name="search_shipping">
									<option value="0" {% if param.search_shipping == 0 %} selected {% endif %}>全て</option>
									{% for shipping in shippings %}
										<option
											value="{{ shipping.shipping_no }}"
											{% if param.search_shipping == shipping.shipping_no %} selected {% endif %}
										>
											{{ shipping.name01 }} 〒 {{ shipping.postal_code }} {{ shipping.addr01 }} {{ shipping.addr02 }} {{ shipping.addr03 }}
										</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_shipping').select2('open')">
									{{ "front.mypage.return.shiping_code" | trans | raw}} <span class="glyphicon glyphicon-triangle-bottom" style="color: red; {% if shippings|length < 2 %} visibility: hidden; {% endif %}"></span>
								</a>
								<br/>
								<select class="hidden" id="search_otodoke" name="search_otodoke">
									<option value="0" {% if param.search_otodoke == 0 %} selected {% endif %}>全て</option>
									{% for otodoke in otodokes %}
										<option
											value="{{ otodoke.otodoke_code }}"
											{% if param.search_otodoke == otodoke.otodoke_code %} selected {% endif %}
										>
											{{ otodoke.name01 }} 〒 {{ otodoke.postal_code }} {{ otodoke.addr01 }} {{ otodoke.addr02 }} {{otodoke.addr03 }}
										</option>
									{% endfor %}
								</select>
								<a href="javascript:void(0)" class="text-nowrap search" onclick="$('#search_otodoke').select2('open')">
									{{ "front.mypage.return.otodoke_code" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span>
								</a>
							</th>
							<th title='{{ "front.mypage.return.jan_code" | trans | raw }} {{ "front.mypage.return.product_name" | trans | raw }}'>
								<p class="text-nowrap">{{ "front.mypage.return.jan_code" | trans | raw }}</p>
								<p class="text-nowrap">{{ "front.mypage.return.product_name" | trans | raw }}</p>
							</th>
							<th title="{{ "front.mypage.return.shipping_num" | trans | raw }}">
								<p class="text-nowrap">{{ "front.mypage.return.shipping_num" | trans | raw }}</p>
							</th>
						</tr>
					</thead>
					{% if pagination and pagination.totalItemCount > 0 %}
						{% set index = 0 %}
						<tbody>
							{% for item in pagination %}
							{% set index = index + 1 %}
{#								{% if item.returns_status_flag is defined and item.returns_status_flag != null %}#}
{#									{% if item.returns_status_flag == 1 %}#}
{#										<form id="return_edit_{{item.returns_no}}" action="{{ url( 'mypage_return_receipt', { 'returns_no':item.returns_no } ) }}" method="GET">#}
{#									{% elseif item.returns_status_flag == 2 or item.returns_status_flag == 3 or item.returns_status_flag == 4 %}#}
{#										<form id="return_edit_{{item.returns_no}}" action="{{ url( 'mypage_return_complete', { 'returns_no':item.returns_no } ) }}" method="GET">#}
{#									{% else %}#}
{#										<form id="return_edit_{{item.returns_no}}" action="{{ url( 'mypage_return_approve', { 'returns_no':item.returns_no } ) }}" method="GET">#}
{#									{% endif %}#}
{#								{% else %}#}
{#									<form id="return_create_{{index}}" action="{{ url('mypage_return_create') }}" method="POST">#}
{#								{% endif %}#}

								<form id="return_create_{{index}}" action="{{ url('mypage_return_create') }}" method="POST">

{#								{% if item.returns_status_flag is defined and item.returns_status_flag != null %}#}
{#									<tr ondblclick="$('#return_edit_{{item.returns_no}}').submit()" >#}
{#								{% else %}#}
{#									<tr ondblclick="$('#return_create_{{index}}').submit()" >#}
{#								{% endif %}#}
									<tr>
										<td title="手続き">
											<button type="submit" class="btn btn-warning" role="button" {% if item.total_returns_num >= item.shipping_num %}disabled{% endif %}>手続き</button>
										</td>
										<td title={{ item.returns_num }}>
											<input type="number" name="return_num" data-value='{{ item.returns_num }}' data-shipping='{{ item.shipping_num }}' data-quantity='{{ item.quantity }}' data-total_returns='{{ item.total_returns_num }}' class="form-control" value="{{ item.returns_num }}"/>
										</td>
										<td title={{ item.total_returns_num }}>
											<p class="text-nowrap">{{ item.total_returns_num }}</p>
										</td>
{#										<td title={{ item.returns_status_flag  is empty ? "" : item.returns_status_flag }}>#}
{#											{% if item.returns_status_flag is defined and item.returns_status_flag != null %}#}
{#												{% if item.returns_status_flag == 0 %}#}
{#													<p class="text-nowrap">申請中</p>#}
{#												{% elseif item.returns_status_flag == 1 %}#}
{#													<p class="text-nowrap">承認</p>#}
{#												{% elseif item.returns_status_flag == 2 %}#}
{#													<p class="text-nowrap">未承認</p>#}
{#												{% elseif item.returns_status_flag == 3 %}#}
{#													<p class="text-nowrap">受取受理</p>#}
{#												{% elseif item.returns_status_flag == 4 %}#}
{#													<p class="text-nowrap">受取未受理</p>#}
{#												{% elseif item.returns_status_flag == 5 %}#}
{#													<p class="text-nowrap">返品完了</p>#}
{#												{% endif %}#}
{#											{% else %}#}
{#												<p class="text-nowrap"></p>#}
{#											{% endif %}#}
{#										</td>#}
										<td title={{ item.shipping_no }}>
											<p class="text-nowrap">{{ item.shipping_no }}</p>
										</td>
										<td title={{ item.shipping_date is empty ? "" : item.shipping_date|date('Y-m-d') }}>
											<p class="text-nowrap">{{ item.shipping_date is empty ? "" : item.shipping_date|date('Y-m-d') }}</p>
										</td>
										<td title='{{ item.shipping_name }} - {{ item.otodoke_name }}'>
											<p class="text-nowrap">{{ item.shipping_name }}</p>
											<p class="text-nowrap">{{ item.otodoke_name }}</p>
										</td>
										<td title='{{ item.jan_code }} {{ item.product_name }}'>
											<p class="text-nowrap">{{ item.jan_code }}</p>
											<p class="text-nowrap">{{ item.product_name }}</p>
										</td>
										<td title={{ item.shipping_num }}>
											<p class="text-nowrap">
												{% if item.quantity > 1 %}
													{{ item.shipping_num * item.quantity }}
												{% else %}
													{{ item.shipping_num }}
												{% endif %}
											</p>
										</td>
										<input type="hidden" name="shipping_no" value="{{ item.shipping_no }}"/>
										<input type="hidden" name="shipping_day" value="{{ item.shipping_date }}"/>
										<input type="hidden" name="jan_code" value="{{ item.jan_code }}"/>
										<input type="hidden" name="product_code" value="{{ item.product_code }}"/>
										<input type="hidden" name="product_name" value="{{ item.product_name }}"/>
										<input type="hidden" name="total_returns_num" value="{{ item.total_returns_num }}"/>
										{% if item.quantity > 1 %}
											<input type="hidden" name="shipping_num" value="{{ item.shipping_num * item.quantity }}"/>
										{% else %}
											<input type="hidden" name="shipping_num" value="{{ item.shipping_num }}"/>
										{% endif %}
									</tr>
								</form>
							{% endfor %}
						</tbody>
					{% else %}
						<tbody>
							<tr>
								<td colspan="9">
									<p>返品対象の商品はありません。</p>
								</td>
							</tr>
						</tbody>
					{% endif %}
				</table>
			</div>
			{% if pagination and pagination.totalItemCount > 0 %}
				<div class="ec-pagerRole">
					{% include "pager.twig" with {'pages': pagination.paginationData} %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock main%}

{% block javascript %}
<script src="{{ asset('assets/js/select2/select2.min.js', 'user_data') }}"></script>
<script>
	var search_jan_code      = "{{ param.search_jan_code }}"
	var search_shipping_date = "{{ param.search_shipping_date }}"
	var search_shipping      = "{{ param.search_shipping }}"
	var search_otodoke       = "{{ param.search_otodoke }}"

	function reload() {
		loadingOverlay("show")
		let _parser = new URL( window.location.href )
		_parser.searchParams.set( 'search_jan_code', search_jan_code )
		_parser.searchParams.set( 'search_shipping_date', search_shipping_date )
		_parser.searchParams.set( 'search_shipping', search_shipping )
		_parser.searchParams.set( 'search_otodoke', search_otodoke )
		window.location = _parser.href
	}

	$( function() {
		$("#search_shipping_date").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_shipping_date = e.params.data.id
			reload()
		});

		$("#search_shipping").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_shipping = e.params.data.id
			if( search_shipping == 0 ) search_otodoke = 0
			reload()
		});

		$("#search_otodoke").select2({
			'dropdownAutoWidth': true,
			'selectionCssClass': 'hidden',
		})
		.on('select2:select', function (e) {
			search_otodoke = e.params.data.id
			reload()
		});
	} );

	var typingRemarksTimer;
    var doneTypingInterval = 500;
	$("input[name='return_num']").keyup(function() {
		loadingOverlay();
		clearTimeout(typingRemarksTimer);
		let element = $(this);
		let previous_value = element.data('value');
		let shipping_num = element.data('shipping');
		let quantity = element.data('quantity');
		let total_returns = element.data('total_returns');
		let current_value = element.val();
		let mess = '';

		if (parseInt(quantity) > 1) {
			shipping_num = parseInt(shipping_num) * parseInt(quantity);
		}


		typingRemarksTimer = setTimeout(function () {
			if (current_value == '') {
				mess += "\n返品数を入力してください。";
			}

			if (current_value != '' && current_value <= 0) {
				mess += "\n1以上で入力してください。";
			}

			if (current_value != '' && current_value > shipping_num) {
				mess += "\n出荷数以上の数量は入力できません。";
			}

			if (current_value != '' && total_returns != '' && current_value > (shipping_num - total_returns)) {
				mess += "\n出荷数以上の返品はできません。";
			}

			if (mess != '') {
				alert(mess);
				element.val(previous_value);
			}

			loadingOverlay("hide");

		}, doneTypingInterval);
	})
</script>
{% endblock %}
