{% extends 'default_frame.twig' %}
{% set mypageno = 'return' %}
{% set
body_class = 'mypage' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/select2/select2.min.css', 'user_data') }}">
<style>
	.alert-search {
		border: solid 1px #333;
		background-color: #ccc;
		border-radius: 8px;
	}
	.btn-search,
	.btn-search:hover,
	.btn-search:focus {
		background-color: #000;
		color: #fff;
		border-radius: 8px;
	}
	.alert-return {
		float: right;
	}
	.btn-return,
	.btn-return:hover,
	.btn-return:focus {
		border: none;
		border-radius: 0;
		background-color: #f00;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 12px 36px;
		position: relative;
	}
	.btn-return:after {
		content: "";
		position: absolute;
		left: -25px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-top: 23px solid #f00;
		border-bottom: 23px solid #f00;
	}
	.btn-return:before {
		content: "";
		position: absolute;
		right: -25px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 25px solid red;
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
	}
	.search_shipping_date,
	.search_shipping_date:focus,
	.search_shipping_date:hover {
		color: #fff;
	}
</style>
{% endblock stylesheet %}

{% block main %}
	<div class="ec-layoutRole__main">
		<div class="ec-mypageRole">
			<div class="ec-pageHeader">
				<h1>{{ "front.mypage.title" | trans }}/{{"front.mypage.nav_return_product" | trans}}</h1>
			</div>
			{% include 'Mypage/navi.twig' %}
		</div>
		<div class="ec-mypageRole">
			<div class="row">
				<div class="col-md-6">
					<div class="alert alert-search" role="alert">
						<form class="form-inline" method="GET">
							<div class="form-group">
								<label for="jan_code">JANコード</label>
								<input type="text" class="form-control" id="jan_code" name="jan_code" value="{{ param.search_jan_code }}"/>
							</div>
							<button type="submit" class="btn btn-search">
								<i class="fas fa-angle-double-right" style="color: #f00"></i > 絞り込み
							</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-return" role="alert">
						<a class="btn btn-return">
							<i class="fas fa-arrow-right"></i> 一覧にない場合はこちら
						</a>
					</div>
				</div>
			</div>

			{% if pagination and pagination.totalItemCount > 0 %}
				<p class="ec-para-normal">
					{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}
				</p>
			{% endif %}

			<table class="table myTable">
				<thead>
					<tr>
						<th title="return_type">
							<p class="text-nowrap">{{ "front.mypage.return.return_type" | trans | raw }}</p>
						</th>
						<th title="return_number">
							<p class="text-nowrap">{{ "front.mypage.return.return_number" | trans | raw }}</p>
						</th>
						<th title="return_status">
							<p class="text-nowrap">{{ "front.mypage.return.return_status" | trans | raw }}</p>
						</th>
						<th title="shipping_no">
							<p class="text-nowrap">{{ "front.mypage.return.shipping_no" | trans | raw }}</p>
						</th>
						<th title="shipping_date">
							<a class="text-nowrap search_shipping_date" href="javascript:void(0)">{{ "front.mypage.return.shipping_date" | trans | raw }} <span class="glyphicon glyphicon-triangle-bottom" style="color: red;"></span></a>
							<select class="form-control text-nowrap" id="search_shipping_date" name="search_shipping_date">
                                <option value="0" {% if 0 == param.search_shipping_date %}selected{%  endif %}>すべて</option>
                                {% for shipping_date in shipping_date_list %}
                                    <option value="{{ shipping_date.key }}" {% if shipping_date.key == param.search_shipping_date %}selected{%  endif %}>{{ shipping_date.value }}</option>
                                {% endfor %}
                            </select>
						</th>
						<th title="shiping_code otodoke_code">
							<p class="text-nowrap">{{ "front.mypage.return.shiping_code" | trans | raw}}</p>
							<p class="text-nowrap">{{ "front.mypage.return.otodoke_code" | trans | raw }}</p>
						</th>
						<th title="jan_code product_name">
							<p class="text-nowrap">{{ "front.mypage.return.jan_code" | trans | raw }}</p>
							<p class="text-nowrap">{{ "front.mypage.return.product_name" | trans | raw }}</p>
						</th>
						<th title="shipping_num">
							<p class="text-nowrap">{{ "front.mypage.return.shipping_num" | trans | raw }}</p>
						</th>
					</tr>
				</thead>
				{% if pagination and pagination.totalItemCount > 0 %}
					<tbody>
						{% for item in pagination %}
							<tr>
								<td title="return_type">
									<a href="#" class="btn btn-warning" role="button">手続き</a>
								</td>
								<td title="return_number">
									<input type="number" class="form-control" />
								</td>
								<td title="return_status">
									1
								</td>
								<td title="shipping_no">
									<p class="text-nowrap">{{ item.shipping_no }}</p>
								</td>
								<td title="shipping_date">
									<p class="text-nowrap">{{ item.shipping_date }}</p>
								</td>
								<td title="shiping_code otodoke_code">
									<p class="text-nowrap">{{ item.shipping_name }}</p>
									<p class="text-nowrap">{{ item.otodoke_name }}</p>
								</td>
								<td title="jan_code product_name">
									<p class="text-nowrap">{{ item.jan_code }}</p>
									<p class="text-nowrap">{{ item.product_name }}</p>
								</td>
								<td title="shipping_num">
									<p class="text-nowrap">{{ item.shipping_num }}</p>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% else %}
					<tbody>
						<tr>
							<td colspan="8">
								<p>返品手続きの履歴がありません。</p>
							</td>
						</tr>
					</tbody>
				{% endif %}
			</table>

			{% if pagination and pagination.totalItemCount > 0 %}
				<div class="ec-pagerRole">
					{% include "pager.twig" with {'pages': pagination.paginationData} %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock main %}

{% block javascript %}
<script src="{{ asset('assets/js/select2/select2.min.js', 'user_data') }}"></script>
<script>
	$( function() {
		$("#search_shipping_date").select2();
	})
</script>
{% endblock javascript %}
