{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/select2/select2.min.css', 'user_data') }}">
<link rel="stylesheet" href="{{ asset('assets/jquery-ui/jquery-ui.min.css', 'user_data') }}">
<style>
	.left_background{
		background-color: #fce4d6;
		color: #000;
		font-weight: normal;
	}
	.preview {
		position: relative;
	}
	.preview>button {
		position: absolute;
		top: 0;
		left: 0;
	}
	label.error {
		color: #f00;
		font-weight: inherit;
	}
</style>
{% endblock stylesheet%}

{% block main %}
	<div class="ec-layoutRole__main">
		<div class="ec-mypageRole">
			<div class="ec-pageHeader">
				<h1>返品リクエスト送信</h1>
			</div>
		</div>
		<div class="ec-mypageRole">
			<div class="col-xs-12 text-right">
				<label>※返品確定日は返品商品到着後となります</label>
			</div>
			<div class="col-xs-12">
				<form id="form_return_edit" class="form-horizontal"  action="{{ url('mypage_return_confirm') }}" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="returns_no" value={{ product_returns_info.returns_no }} />
					<table class="table table-bordered">
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="customer_code">お客様</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="company_name" name="company_name" disabled value={{ company_name }} />
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="shipping_code">出荷先</label>
							</td>
							<td class="col-xs-9 text-left">
								<select class="form-control" name="shipping_code" id="shipping_code" onChange="changeShippingSode( this.value )">
									{% for shipping in shippings %}
										<option
											{% if product_returns_info.shipping_code == shipping.shipping_no %} selected {% endif %}
											value="{{ shipping.shipping_no }}">
												{{ shipping.name01 }} 〒 {{ shipping.postal_code }} {{ shipping.addr01 }} {{ shipping.addr02 }} {{ shipping.addr03 }}
										</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="otodoke_code">届け先</label>
							</td>
							<td class="col-xs-9 text-left">
								<select class="form-control" name="otodoke_code" id="otodoke_code">
									{% for otodoke in otodokes %}
										<option
											{% if product_returns_info.otodoke_code == otodoke.otodoke_code %} selected {% endif %}
											value="{{ otodoke.otodoke_code }}">
												{{ otodoke.name01 }} 〒 {{ otodoke.postal_code }} {{ otodoke.addr01 }} {{ otodoke.addr02 }} {{ otodoke.addr03 }}
										</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="shipping_no">出荷指示№</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="shipping_no" name="shipping_no" value="{{ product_returns_info.shipping_no }}"/>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="shipping_day">出荷日</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="shipping_day" name="shipping_day" value="{{ product_returns_info.shipping_date is empty ? "" : product_returns_info.shipping_date|date('Y/m/d') }}"/>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="jan_code">JANコード</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="jan_code" name="jan_code" value="{{ product_returns_info.jan_code }}" onchange="getProduct()" />
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="product_name">商品名</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="product_name" name="product_name" value="{{ product_name }}" disabled/>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="delivered_num">出荷数</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="delivered_num" name="delivered_num" disabled />
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="returned_num">返品中</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="text" class="form-control" id="returned_num" name="returned_num" disabled />
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="return_reason">返品理由</label>
							</td>
							<td class="col-xs-9 text-left">
								<select class="form-control" name="return_reason" id="return_reason">
									<option selected disabled hidden>返品理由</option>
									{% for reson in returns_reson %}
										<option value="{{ reson.returns_reson_id }}" {% if product_returns_info.reason_returns_code == reson.returns_reson_id %} selected {% endif %}>{{ reson.returns_reson }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="customer_comment">顧客コメント</label>
							</td>
							<td class="col-xs-9 text-left">
								<textarea class="form-control" id="customer_comment" name="customer_comment" rows="3" required>{{ product_returns_info.customer_comment|trim }}</textarea>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="rerurn_num">返品数</label>
							</td>
							<td class="col-xs-9 text-left">
								<input type="number" class="form-control" id="rerurn_num" name="rerurn_num" value="{{ returns_num }}" required/>
							</td>
						</tr>
						<tr>
							<td class="col-xs-3 text-right left_background">
								<label for="product_status1">良品・不良品</label>
							</td>
							<td class="col-xs-9 text-left">
								<label class="radio-inline">
									<input type="radio" name="product_status" id="product_status1" value="1" required 
										{% if product_returns_info.cus_reviews_flag == 1 %} checked {% endif %}> 良品
								</label>
								<label class="radio-inline">
									<input type="radio" name="product_status" id="product_status2" value="2" required
									{% if product_returns_info.cus_reviews_flag == 2 %} checked {% endif %}> 不良品
								</label>
							</td>
						</tr>
						<tr>
							<td class="text-center left_background" colspan="2">
								<p>商品画像</p>
								<input type="file" class="hidden" id="images_input" accept="image/*" multiple onchange="imagesInputChange()"/>
								<input type="file" class="hidden" id="images" name="images[]" accept="image/*" multiple />
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="row">
									<div class="col-xs-6 text-left">
										<label class="btn btn-primary" for="images_input">画像添付</label>
									</div>
									<div class="col-xs-6 text-right">
										<button type="submit" class="btn btn-warning">返品リクエスト送信</button>
										<a href="{{ url('mypage_return') }}" class="btn btn-warning">返品手続きに戻る</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="row" id="images_preview">
									{% if product_returns_info.cus_image_url_path1|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path1 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path1 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path2|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path2 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path2 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path3|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path3 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path3 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path4|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path4 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path4 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path5|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path5 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path5 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
									{% if product_returns_info.cus_image_url_path6|trim is not empty %} 
										<div class="col-xs-2 preview">
											<img src="{{ url('homepage') }}{{ product_returns_info.cus_image_url_path6 }}" class="img-thumbnail" />
											<button type="button" class="btn btn-danger" onclick="imagePathClick( '{{ product_returns_info.cus_image_url_path6 }}' )"><i class="fas fa-times"></i></button>
											<input type="hidden" name="cus_image_url_path[]" value="{{ product_returns_info.cus_image_url_path1 }}">
										</div>
									{% endif %}
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/select2/select2.min.js', 'user_data') }}"></script>
<script src="{{ asset('assets/jquery-ui/jquery-ui.min.js', 'user_data') }}"></script>
<script src="{{ asset('assets/jquery-validation/jquery.validate.min.js', 'user_data') }}"></script>
<script>
	var cus_image_url_path = [
		{% if product_returns_info.cus_image_url_path1|trim is not empty %} "{{ product_returns_info.cus_image_url_path1 }}", {% endif %}
		{% if product_returns_info.cus_image_url_path2|trim is not empty %} "{{ product_returns_info.cus_image_url_path2 }}", {% endif %}
		{% if product_returns_info.cus_image_url_path3|trim is not empty %} "{{ product_returns_info.cus_image_url_path3 }}", {% endif %}
		{% if product_returns_info.cus_image_url_path4|trim is not empty %} "{{ product_returns_info.cus_image_url_path4 }}", {% endif %}
		{% if product_returns_info.cus_image_url_path5|trim is not empty %} "{{ product_returns_info.cus_image_url_path5 }}", {% endif %}
		{% if product_returns_info.cus_image_url_path6|trim is not empty %} "{{ product_returns_info.cus_image_url_path6 }}", {% endif %}
	];

	function imagesInputChange() {
		let _dt = new DataTransfer()
		let _images_files = $('#images').prop('files')
		let _images_input_files = $('#images_input').prop('files')
		
		for (let i = 0; i < _images_files.length; i++) {
			_dt.items.add( _images_files[i] )
		}
		for (let i = 0; i < _images_input_files.length; i++) {
			_dt.items.add( _images_input_files[i] )
		}

		if( ( cus_image_url_path.length + _dt.files.length ) > 6 ) {
			alert("最大6枚の画像")
		} else {
			$('#images').prop('files', _dt.files)
			imagesPreview()
		}
		$('#images_input').val( null )
	}

	function imagesPreview() {
		let _images_preview = $("#images_preview")
		_images_preview.empty() 
		$.each( cus_image_url_path, function( k, v ) {
			_images_preview.append( `<div class="col-xs-2 preview">
				<img src="{{ url('homepage') }}${v}" class="img-thumbnail" />
				<button type="button" class="btn btn-danger" onclick="imagePathClick('${v}')"><i class="fas fa-times"></i></button>
				<input type="hidden" name="cus_image_url_path[]" value="${v}">
			</div>` );
		});
		let _files = $('#images').prop('files')
		for (var i = 0; i < _files.length ; i++) {
			let _i = i
			let _f = _files[i]
			let _fileReader = new FileReader();
			_fileReader.onload = (e)=>{
				_images_preview.append( `<div class="col-xs-2 preview">
					<img src="${e.target.result}" class="img-thumbnail" />
					<button type="button" class="btn btn-danger" onclick="imagesPreviewClick( ${_i} )"><i class="fas fa-times"></i></button>
				</div>` );
			}
			_fileReader.readAsDataURL( _f )
		}
	}

	function imagePathClick( value ) {
		cus_image_url_path = cus_image_url_path.filter(item => item !== value)
		imagesPreview()
	}

	function imagesPreviewClick( index ) {
		let _dt = new DataTransfer()
		let _images_files = $('#images').prop('files')

		for (let i = 0; i < _images_files.length; i++) {
			if( index !== i ) _dt.items.add( _images_files[i] )
		}

		$('#images').prop('files', _dt.files)
		imagesPreview()
	}

	function changeShippingNo() {
		$("#jan_code").val( null );
		$("#product_name").val( null );
		$("#delivered_num").val( null );
		$("#returned_num").val( null );
	}
	
	function getProduct() {
		let _shipping_no = $("#shipping_no").val()
		let _jan_code = $("#jan_code").val()
		
		if( !_shipping_no || !_jan_code ) return;

		$.ajax({
			url: "{{ url('mypage_product_name') }}",
			type: 'GET',
			dataType: 'json',
			data: {
				'shipping_no': _shipping_no,
				'jan_code'   : _jan_code,
			},
			beforeSend : ()=>loadingOverlay("show"),
			complete : ()=>loadingOverlay("hide"),
		})
		.done(function(json) {
			if( json.status ) {
				let _data = json.data;
				$("#product_name").val( json.data.product_name )
				$("#delivered_num").val( json.data.delivered_num )
				$("#returned_num").val( json.data.returned_num )
			}
		})
		.fail(function(json) {
		})
	}

	const changeShippingSode = ( shipping_no )=>{
		if( ! shipping_no ) return
		
		let _el = $("#otodoke_code")
		_el.select2('destroy')
		$.ajax({
			url: "{{ url('otodoke_option') }}",
			type: 'POST',
			dataType: 'json',
			data: {
				'customer_id'  : "{{ customer_id }}",
				'shipping_code': shipping_no,
				'_csrf_token'  : "{{ csrf_token('authenticate') }}",
			},
			beforeSend : ()=>loadingOverlay("show"),
			complete : ()=>loadingOverlay("hide"),
		})
		.done(function(json) {
			if( json.status ) {
				let _data = json.data
				if( _data.length > 0 ) {
					_data.forEach( (item)=> {
						_el.append( new Option(
							`${(item.name01?item.name01:'')} 〒 ${(item.postal_code?item.postal_code:'')} ${(item.addr01?item.addr01:'')} ${(item.addr02?item.addr02:'')} ${(item.addr03?item.addr03:'')}`,
							item.otodoke_code,
							false,
							item.otodoke_code == "{{ product_returns_info.otodoke_code }}"
						) )
					})
				}
				_el.select2()
			}
		})
		.fail(function(json) {
			alert("更新に失敗しました。")
		})
	}

	$.validator.addMethod('minupload', function(value, element, param) {
		return ( cus_image_url_path.length + element.files.length ) >= param;
	});
	$.validator.addMethod('maxupload', function(value, element, param) {
		return ( cus_image_url_path.length + element.files.length ) <= param;
	});
	$.validator.addMethod('rerurn_num', function(value, element, param) {
		let _delivered_num = parseInt( $("#delivered_num").val() );
		let _returned_num = parseInt( $("#returned_num").val() );
		let _cond = _delivered_num > _returned_num ? _delivered_num - _returned_num : _delivered_num;
		console.log(_cond)
		return value <= _cond;
	});

	$( function() {
		getProduct();

		$("#shipping_code").select2();
		$("#otodoke_code").select2();

		$( "#shipping_day" ).datepicker({ dateFormat: 'dd/mm/yy' });

		$("#form_return_edit").validate({
			ignore: null,
			rules: {
				shipping_no: {
					required: true,
				},
				jan_code: {
					required: true,
				},
				return_reason: {
					required: true,
				},
				customer_comment: {
					required: true
				},
				rerurn_num: {
					required: true,
					rerurn_num : true,
				},
				'images[]': {
					minupload: 1,
					maxupload: 6,
				},
			},
			messages: {
				shipping_no     : "出荷指示№を入力してください。",
				jan_code        : "JANコードを入力してください。",
				return_reason   : "顧客コメントを入力してください。",
				customer_comment: "顧客コメントを入力してください。",
				rerurn_num      : {
					required  : "返品数を入力してください。",
					rerurn_num: "出荷数以上の数量は入力できません。",
				},
				'images[]': {
					minupload: "商品画像をファイル添付より選択してください。",
					maxupload: "最大6枚の画像",
				},
			},
			invalidHandler: function(event, validator) {
				loadingOverlay("hide")
			},
			submitHandler: function(form) {
				form.submit()
			}
		});
	})
</script>
{% endblock javascript%}
