{% extends 'default_frame.twig' %}

{% block main %}
	<div class="ec-role">
		<div class="ec-pageHeader">
			<h1>{{ 'front.shopping.title'|trans }}</h1>
		</div>
	</div>

	<form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
		<div class="ec-orderRole">
			<div class="ec-orderRole__detail">
				<div class="ec-orderAccount hidden nvtrong">
					<div class="ec-rectHeading">
						<h2>{{ 'front.shopping.customer_info'|trans }}</h2>
					</div>
					{% if is_granted('ROLE_USER') == false %}
						<div class="ec-orderAccount__change non-customer-display">
							<button id="customer" class="ec-inlineBtn" type="button">{{ 'common.change'|trans }}</button>
						</div>
					{% endif %}
					<div class="ec-orderAccount__account non-customer-display">
						<p class="ec-halfInput"><span class="customer-edit customer-name01"></span>
							<span class="customer-edit customer-name02"></span>
							{{ 'common.name.suffix'|trans }}
						</p>
						<p class="ec-halfInput">
							<span class="customer-edit customer-kana01"></span>
							<span class="customer-edit customer-kana02"></span>
						</p>
						<p class="ec-input">
							<span class="customer-edit customer-company_name"></span>
						</p>
						<p class="ec-zipInput">〒<span class="customer-edit customer-postal_code"></span>
						</p>
						<p class="ec-input">
							<span class="customer-edit customer-pref"></span>
							<span class="customer-edit customer-addr01"></span>
							<span class="customer-edit customer-addr02"></span>

						</p>
						<p class="ec-telInput">
							<span class="customer-edit customer-phone_number"></span>
						</p>
						<p class="ec-input">
							<span class="customer-edit customer-email"></span>
						</p>
					</div>
					{% if is_granted('ROLE_USER') == false %}
						<div class="ec-borderedDefs  non-customer-edit" style="display:none;">
							<dl>
								<dt>
									<label class="ec-label required">{{ 'common.name'|trans }}</label>
									<span class="ec-required">{{ 'common.required'|trans }}</span>
								</dt>
								<dd>
									<div class="ec-halfInput">
										<span class="customer-form customer-name01"></span>
										<span class="customer-form customer-name02"></span>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>
									<label class="ec-label required">{{ 'common.kana'|trans }}</label>
									<span class="ec-required">{{ 'common.required'|trans }}</span>
								</dt>
								<dd>
									<div class="ec-halfInput">
										<span class="customer-form customer-kana01"></span>
										<span class="customer-form customer-kana02"></span>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>
									<label class="ec-label" for="nonmember_company_name">{{ 'common.company_name'|trans }}</label>
								</dt>
								<dd>
									<div class="ec-halfInput">
										<span class="customer-form customer-company_name"></span>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>
									<label class="ec-label required">{{ 'common.address'|trans }}</label>
									<span class="ec-required">{{ 'common.required'|trans }}</span>
								</dt>
								<dd>
									<div class="ec-zipInput">
										<span>{{ 'common.postal_symbol'|trans }}</span>
										<span class="customer-form customer-postal_code"></span>
										<div class="ec-zipInputHelp">
											<div class="ec-zipInputHelp__icon">
												<div class="ec-icon">
													<img src="{{ asset('assets/icon/question-white.svg') }}" alt="">
												</div>
											</div>
											<a href="https://www.post.japanpost.jp/zipcode/" target="_blank">
												<span>{{ 'common.search_postal_code'|trans }}</span>
											</a>
										</div>
									</div>
									<div class="ec-select">
										<span class="customer-form customer-address_pref"></span>
									</div>
									<div class="ec-input">
										<span class="customer-form customer-address_addr01"></span>
									</div>
									<div class="ec-input">
										<span class="customer-form customer-address_addr02"></span>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>
									<label class="ec-label required" for="nonmember_phone_number">{{ 'common.phone_number'|trans }}</label>
									<span class="ec-required">{{ 'common.required'|trans }}</span>
								</dt>
								<dd>
									<div class="ec-telInput">
										<span class="customer-form customer-phone_number"></span>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>
									<label class="ec-label required">{{ 'common.mail_address'|trans }}</label>
									<span class="ec-required">{{ 'common.required'|trans }}</span>
								</dt>
								<dd>
									<div class="ec-input">
										<span class="customer-form customer-email"></span>
									</div>
								</dd>
							</dl>
						</div>
						<div class="mod-button" style="display:none;">
							<span id="customer-ok">
								<button type="button" class="ec-inlineBtn">{{ 'common.ok'|trans }}</button>
							</span>
							<span id="customer-cancel">
								<button type="button" class="ec-inlineBtn">{{ 'common.cancel'|trans }}</button>
							</span>
						</div>
						<input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="">
						<input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="">
						<input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="">
						<input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="">
						<input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="">
						<input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="">
						<input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="">
						<input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="">
						<input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="">
						<input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="">
						<input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="">
					{% endif %}
				</div>
				<div class="ec-orderDelivery ">
					<div class="ec-rectHeading  nvtrong hidden">
						<h2>{{ 'front.shopping.delivery_info'|trans }}</h2>
					</div>

					
					<div class="ec-orderDelivery__edit nvtrong hidden">
						<button type="button" class="ec-inlineBtn" data-trigger="click" data-path="{{ path('shopping_shipping_multiple') }}">{{ 'front.shopping.to_multiple'|trans }}</button>
					</div>
				</div>

				{#                nvtrong start #}
				<style>
					.shipping_destination {
						display: flex;
					}

					.shipping_destination_left {
						width: 130px
					}

					.shipping_destination_left > div {
						width: 110px;
						background-color: #c9b5b5;
						text-align: center;
						margin-right: 20px;
					}

					.shipping_destination_right,
					.shipping_destination_right > .custom-combobox {
						width: 100%;
					}

					.shipping_destination_right > .custom-combobox > .custom-combobox-input {
						width: calc(100% - 30px);
					}

					.shipping_destination_right .datetimepicker-input {
						max-width: 10vw;
					}

					.shipping_row {
						display: block;
					}

					.shipping_col1 {
						;
						/*width: 150px;*/
					}

					.shipping_col2 {
						;
						/*width: 350px;*/
					}

					.date_picker_row {
						display: flex;
						margin-top: 10px;
					}
					.date-picker-delivery-notify {
						padding: 5px 0;
					}
					.ui-autocomplete-input.select {
						position: relative;
						align-items: center;
						height: 30px;
						border-radius: 5px;
						border: 1px solid #ccc;
						transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						margin: 0;
						padding: 0;
						color: #525263;
					}
					.shipping_radio_is_shipping_code {
						position: relative;
						align-items: center;
						max-width: 26vw;
						height: 30px;
						border-radius: 5px;
						border: 1px solid #ccc;
						transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						margin: 0;
						padding: 0;
					}
				</style>

				
				<p class="error_bill_address" style="color: red;font-size: larger;font-weight: bold;display: none">
					{{ 'front.shopping.error_bill_address'|trans }}
				</p>
				<div style="margin-bottom: 30px;"></div>

				<div class="shipping_destination">
					<div class="shipping_destination_left">
						<div>出荷先</div>
					</div>
					<div class="shipping_destination_right">

					</div>
				</div>
				<p class="errorshipping_radio" style="color: red;font-size: larger;font-weight: bold;display: none">
					{{ 'front.shopping.shipping_title_error'|trans }}
				</p>

				<div class="delivery_address_main">
					<div class="delivery_address shipping_destination">
						<div class="shipping_destination_left">
							<div>届け先
							</div>
						</div>
						<div class="shipping_destination_right combo_add_list">
							<span class="custom-combobox"><input title="" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input select" autocomplete="off" data-dashlane-rid="c17f3366f0c61f3d" data-form-type="other"><a tabindex="-1" title="すべて表示" class="ui-button ui-widget ui-button-icon-only custom-combobox-toggle ui-corner-right" role="button" data-dashlane-label="true" data-dashlane-rid="a9ea447d28e61422" data-form-type="other">
									<span class="ui-button-icon ui-icon ui-icon-triangle-1-s"></span>
									<span class="ui-button-icon-space"></span>
								</a>
							</span>
						</div>
					</div>
					<p class="error_delivery_address" style="color: red;font-size: larger;font-weight: bold;display: none">
						{{ 'front.shopping.error_delivery_address'|trans }}
					</p>
				</div>

				<div class="ec-orderAccount  ">
					<div class=" date_picker_row ">
						<div class="shipping_destination_left date_picker_delivery">
							<div>
								{{ 'front.shopping.date_picker_delivery'|trans }}</div>
						</div>
						<div class="shipping_destination_right">
							<div class="shipping_row">
								<div class="date_picker_delivery">
									<div class="controls" id="date_picker_delivery_p" style="position: relative">
										<input type="text" readonly='true' id="date_picker_delivery" name="date_picker_delivery" class="datetimepicker-input form-control" data-target="#date_picker_delivery" data-toggle="datetimepicker"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="date_picker_row">
						<div class="shipping_destination_left"></div>
						<div class="shipping_destination_right">
							<p class="date-picker-delivery-notify">倉庫状況によりご希望日に添えない場合がございます<br/>詳しくは各担当者までお問い合わせください<br/>配送確定はマイページの出荷履歴をご確認ください</p>
							<p class="error_date" style="color: red;font-size: larger;font-weight: bold;"></p>
						</div>
					</div>
				</div>

				<div class="ec-orderPayment  hidden nvtrong">
					<div class="ec-rectHeading">
						<h2>{{ 'front.shopping.payment_info'|trans }}</h2>
					</div>
					<div class="ec-radio">
					</div>
				</div>

				

				<div class="ec-orderConfirm nvtrong hidden">
					<div class="ec-rectHeading">
						<h2>{{ 'front.shopping.message_info'|trans }}</h2>
					</div>
					<div class="ec-input ">
					</div>
				</div>

				{# Remarks #}
				<div class="col-md-12" style="display: inline-flex; padding: 0">
					<div class="shipping_destination_left">
						<div>
							{{ 'front.shopping.remarks'|trans }}１</div>
					</div>
					<div class="col-md-12" style="padding: 0">
						<input type="text" class="form-control" name="remarks1" id="remarks1" value="" onkeyup="updateRemarks(this)">
					</div>
				</div>
				<div class="col-md-12" style="display: inline-flex; padding: 0; margin-top: 10px">
					<div class="shipping_destination_left">
						<div>
							{{ 'front.shopping.remarks'|trans }}２</div>
					</div>
					<div class="col-md-12" style="padding: 0">
						<input type="text" class="form-control" name="remarks2" id="remarks2" value="" onkeyup="updateRemarks(this)">
					</div>
				</div>
				<div class="col-md-12" style="display: inline-flex; padding: 0; margin-top: 10px">
					<div class="shipping_destination_left">
						<div>発注書宛先</div>
					</div>
					<div class="col-md-12" style="padding: 0">
						<input type="text" class="form-control" name="remarks3" id="remarks3" value="" onkeyup="updateRemarks(this)">
					</div>
				</div>
				<div class="col-md-12" style="display: inline-flex; padding: 0; margin-top: 10px">
					<div class="shipping_destination_left">
						<div>発注書備考</div>
					</div>
					<div class="col-md-12" style="padding: 0">
						<input type="text" class="form-control" name="remarks4" id="remarks4" value="" onkeyup="updateRemarks(this)">
					</div>
				</div>
				{# End - Remarks#}
			</div>

			<div class="ec-orderRole__summary">
				<div class="ec-totalBox">
					<dl class="ec-totalBox__spec">
						<dt>{{ 'common.subtotal' | trans }}</dt>
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
							<dd class="ec-totalBox__specTotal"></dd>
						{% endif %}
					</dl>
					<dl class="ec-totalBox__spec">
						<dt>{{ 'common.tax'  | trans }}</dt>
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
							<dd></dd>
						{% endif %}
					</dl>
					<dl class="ec-totalBox__spec hide">
						<dt>{{ 'common.delivery_fee' | trans }}</dt>
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
							<dd></dd>
						{% endif %}
					</dl>
					<div class="ec-totalBox__total">{{ 'common.total' | trans }}
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
							<span class="ec-totalBox__price"></span>
							<span class="ec-totalBox__taxLabel">{{ 'common.tax_include' | trans }}</span>
						{% endif %}
					</div>
					<dl class="ec-totalBox__taxRate hidden">
						<dt></dt>
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
							<dd></dd>
						{% endif %}
					</dl>
					<div class="ec-totalBox__paymentTotal hidden">
						{{ 'common.payment_total' | trans }}
						{# Check mst_customer.price_view_flg #}
						{% if global_service.getPriceViewFlg %}
						{% endif %}
					</div>
					{% if BaseInfo.isOptionPoint and Order.Customer is not null %}
						<div class="ec-totalBox__pointBlock">
							<dl class="ec-totalBox__spec">
								<dt>{{ 'front.shopping.use_point'|trans }}</dt>
								<dd>{{ Order.UsePoint|number_format }}
									pt</dd>
							</dl>
							<dl class="ec-totalBox__spec">
								<dt>
									<span class="ec-font-bold">{{ 'front.shopping.add_point'|trans }}</span>
								</dt>
								<dd>
									<span class="ec-font-bold">{{ Order.AddPoint|number_format }}
										pt</span>
								</dd>
							</dl>
						</div>
					{% endif %}
					<div class="ec-totalBox__btn">
						<button type="button" class="ec-blockBtn--action mySubmitConfirm">{{ 'front.shopping.go_to_confirm'|trans }}</button>
						<a href="{{ url("cart") }}" class="ec-blockBtn--cancel">{{ 'front.shopping.back_to_cart'|trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
