{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'shipping' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="ec-layoutRole__main">
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav_shipping__history'|trans }}</h1>
        </div>
        {% include 'Mypage/navi.twig' %}
    </div>

    <style>
        .myTable>thead>tr>th {
            white-space: nowrap;
        }
    </style>

    <iframe id="my_iframe" style="display:none;"></iframe>
    <script>
            function Download(url) {
                document.getElementById('my_iframe').src = url;
            };
    </script>

    <style>
        .disBg {
            background: #A7A7A7;
            border-color: #A7A7A7;
        }
        .actBg {
         background: #0065ff;
        }
    </style>

    <div class="ec-mypageRole">
        {% if pagination.totalItemCount > 0 %}
            <p class="ec-para-normal">{{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}</p>
            <table class="table myTable">
                <thead>
                    <tr>
                        <th title="order_no_type">{{ 'front.mypage.shipping.delivery_no'|trans| raw }}</th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.destination'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                            <br/>
                            {{ 'front.mypage.shipping.company_name'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                        </th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.jan_code'|trans| raw }}
                            <br/>
                            {{ 'front.mypage.shipping.product_name'|trans| raw }}
                        </th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.status'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                        </th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.plan_date'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.date'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.num'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.note_no'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.packing_slip'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.order_number'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.detail'|trans| raw }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Shipping in pagination %}
                        <tr>
                            <td>{{ Shipping.shipping_no }}</td>
                            <td>
                                {{ Shipping.customer_name }}
                                <br/>
                                {{ Shipping.company_name }}
                            </td>
                            <td>
                                {{ Shipping.jan_code }}
                                <br/>
                                {{ Shipping.product_name }}
                            </td>
                            <td>
                                {% if Shipping.shipping_status == 1 %} 出荷指示済 {% endif %}
                                {% if Shipping.shipping_status == 2 %} 出荷済 {% endif %}
                            </td>
                            <td>{{ Shipping.shipping_plan_date|date("Y年m月d日") }}</td>
                            <td>{{ Shipping.shipping_date|date("Y年m月d日") }}</td>
                            <td>{{ Shipping.shipping_num }}</td>
                            <td>
                                {% if Shipping.delivery_no is null %}
                                    空白
                                {% else %}
                                    {{ Shipping.delivery_no }}
                                {% endif %}
                            </td>
                            <td>{{ Shipping.order_lineno }}</td>
                            <td>{{ Shipping.cus_order_no }}</td>
                            <td>{{ Shipping.cus_order_lineno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% else %}
            <p class="ec-para-normal">{{ 'front.mypage.history_not_found'|trans }}</p>
        {% endif %}
    </div>
    {% include "Mypage/modal_list.twig" with {'shipping_no':'Test' } %}
</div>
{% endblock %}

