<div style="    display: flex;
    justify-content: space-between;">
    <div>
        <div>
            お客様：<b>{% if myData|length > 0 %} {{myData[0].user_created_company_name}} {% endif %}</b>
        </div>
        <div>
            出荷先：<b>{% if myData|length > 0 %} {{arMore[0].shipping_company_name}} {% endif %}</b>
        </div>
        <div>
            届け先：<b>{% if myData|length > 0 %} {{arMore[0].otodoke_company_name}} {% endif %}</b>
        </div>
    </div>

    <div>
        {% if myData|length > 0 and myData[0].deli_order_no %}
            <a class=" btn btn-primary actBg"  target="_blank" href="/mypage/exportOrderPdf?order_no_line_no={{myData[0].ec_order_no}}-{{myData[0].ec_order_lineno}}&delivery_no={{myData[0].delivery_no}}">納品書</a>
        {% else %}
            <div class=" btn btn-primary disabled disBg"> 納品書</div>
        {% endif %}
        <button class=" btn  " onclick="javascript:$('.closeBtn').click()"> Close</button>
    </div>

</div>
<table class="table myTable">
    <thead>
        <tr>
            <th title="delivery_no ">{{ 'front.mypage.shipping.note_no'|trans| raw }}</th>
            <th title="product_code ">{{ 'front.order.jan_code'|trans| raw }}</th>
            <th title="product_name"> 商品名</th>
            <th title="shipping_status">出荷ステータス</th>
            <th style="text-align: right" title="shipping_num">出荷数</th>
            <th title="shipping_plan_date">出荷指示日</th>
            <th title="shipping_date">出荷日</th>
            <th title="shipping_company_code">運送会社</th>
            <th title="shipping_no ">{{ 'front.mypage.shipping_no'|trans| raw }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in myData %}
        <tr {% if item.highlight %} style="border: solid red;"  {% endif %}>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>
                <a href="/mypage/delivery/history?delivery_no={{item.delivery_no}}" target="_blank">
                    {{item.delivery_no}}
                </a>
            </td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.jan_code }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.product_name }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.shipping_status }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %} style="text-align: right" >{{ item.shipping_num }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.shipping_plan_date }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.shipping_date }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>{{ item.shipping_company_name }}</td>
            <td {% if item.highlight %} class="shipping-highlight" {% endif %}>
                <a href="/mypage/shipping/history?shipping_no={{item.shipping_no}}" target="_blank">
                    {{item.shipping_no}}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
