{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'shipping' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="ec-layoutRole__main">
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav_shipping__history'|trans }}</h1>
        </div>
        {% include 'Mypage/navi.twig' %}
    </div>

    <style>
        .myTable>thead>tr>th {
            white-space: nowrap;
        }
    </style>

    <iframe id="my_iframe" style="display:none;"></iframe>
    <script>
            function Download(url) {
                document.getElementById('my_iframe').src = url;
            };
    </script>

    <style>
        .disBg {
            background: #A7A7A7;
            border-color: #A7A7A7;
        }
        .actBg {
         background: #0065ff;
        }
    </style>

    <div class="ec-mypageRole">
            <table class="table myTable">
                <thead>
                    <tr>
                        <th title="order_no_type">{{ 'front.mypage.shipping.delivery_no'|trans| raw }}</th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.destination'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                            <br/>
                            {{ 'front.mypage.shipping.company_name'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                        </th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.jan_code'|trans| raw }}
                            <br/>
                            {{ 'front.mypage.shipping.product_name'|trans| raw }}
                        </th>
                        <th title="order_no_type">
                            {{ 'front.mypage.shipping.status'|trans| raw }} <a href="javascript:void(0)" style="color: red;"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                        </th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.plan_date'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.date'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.num'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.note_no'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.packing_slip'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.order_number'|trans| raw }}</th>
                        <th title="order_no_type">{{ 'front.mypage.shipping.detail'|trans| raw }}</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
           
       
    </div>
    {% include "Mypage/modal_list.twig" with {'shipping_no':'Test' } %}
</div>
{% endblock %}

