{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <style>

        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

    </style>
{% endblock %}

{% block javascript %}
<script>
eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });

            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
    <script>
        $(function() {
            $('.add-cart').on('click', function(event) {
                {% if form.classcategory_id1 is defined %}
                // 規格1フォームの必須チェック
                if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                    $('#classcategory_id1')[0].setCustomValidity('{{ 'front.product.product_class_unselected'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id1')[0].setCustomValidity('');
                }
                {% endif %}

                {% if form.classcategory_id2 is defined %}
                // 規格2フォームの必須チェック
                if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                    $('#classcategory_id2')[0].setCustomValidity('{{ 'front.product.product_class_unselected'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id2')[0].setCustomValidity('');
                }
                {% endif %}

                // 個数フォームのチェック
                if ($('#quantity').val() < 1) {
                    $('#quantity')[0].setCustomValidity('{{ 'front.product.invalid_quantity'|trans }}');
                    return true;
                } else {
                    if($('#quantity').val() % {{ MstProduct.quantity }}  !== 0) {
                        $('#quantity')[0].setCustomValidity('{{ MstProduct.quantity }}{{ 'front.product.invalid_quantity_multiples'|trans }}');
                        return true;
                    }
                    $('#quantity')[0].setCustomValidity('');
                }

                event.preventDefault();
                $form = $('#form1');

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'front.product.add_cart_error'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });

        $('.ec-modal-wrap').on('click', function(e) {
            // モーダル内の処理は外側にバブリングさせない
            e.stopPropagation();
        });
        $('.ec-modal-overlay, .ec-modal, .ec-modal-close, .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ Product.name }}",
        "image": [
            {% for img in Product.ProductImage %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(img, 'save_image') }}"{% if not loop.last %},{% endif %}

            {% else %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(''|no_image_product, 'save_image') }}"
            {% endfor %}
        ],
        "description": "{{ Product.description_list | default(Product.description_detail) | replace({'\n': '', '\r': ''}) | slice(0,300) }}",
        {% if Product.code_min %}
        "sku": "{{ Product.code_min }}",
        {% endif %}
        "offers": {
            "@type": "Offer",
            "url": "{{ url('product_detail', {'id': Product.id}) }}",
            "priceCurrency": "{{ eccube_config.currency }}",
            "price": {{ Product.getPrice02IncTaxMin }},
            "availability": "{{ Product.stock_find ? "InStock" : "OutOfStock" }}"
        }
    }
    </script>
{% endblock %}

{% block main %}
    <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
    <div class="ec-productRole">
        <div class="ec-grid2">
            <div class="ec-grid2__cell">
                <div class="ec-sliderItemRole">

                    <div class="item_visual">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}"></div>
                        {% else %}
                            <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}" /></div>
                        {% endfor %}
                    </div>
                    <div class="item_nav">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slideThumb" data-index="{{ loop.index0 }}"><img src="{{ asset(ProductImage, 'save_image') }}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ec-grid2__cell">
                <div class="ec-productRole__profile">
                    {# 商品名 #}
                    <div class="ec-productRole__title">
                        <h2 class="ec-headingTitle">{{ Product.name }}</h2>
                    </div>
                    {# タグ #}
                    <ul class="ec-productRole__tags">
                        {% for Tag in Product.Tags %}
                            <li class="ec-productRole__tag tag_{{ Tag.id }}">{{ Tag }}</li>
                        {% endfor %}
                    </ul>



                    <div class="ec-productRole__price">

                        {% if app.user -%}
                            {# 標準単価 #}
                            <div class="ec-price">
                                <span class="ec-price__price price02-default">

                                     {% if MstProduct.quantity>1 %}
                                         販売単位：{{ MstProduct.quantity }}個/箱～
                                     {% else %}
                                         販売単位：{{ MstProduct.quantity }}個～
                                     {% endif %}
 販売単価:
                                    {% if Price is defined and Price is not null %}
                                        {{ Price.price_s01|price }}
                                    {% else %}
                                        {% if MstProduct is defined and MstProduct is not null %}
                                            {{ MstProduct.unit_price|price }}
                                        {% endif %}
                                    {% endif %}

                                </span>

                            </div>
                        {% else %}
                            {# 価格 #}
                            <div class="ec-price">
                                <span class="ec-price__price">{{ MstProduct.unit_price|price }}</span>
                            </div>
                        {% endif %}

                        <div style="padding-left: 0.3em">
                            <div class="ec-numberInput"><span style="color: #000000">{{ 'common.quantity'|trans }}:</span>
                                {{ form_widget(form.quantity,{'attr': {'value': MstProduct.quantity|number_format
                                    ,'min':MstProduct.quantity
                                    ,'step':MstProduct.quantity}}) }}
                                {{ form_errors(form.quantity) }}
                            </div>
                        </div>

                    </div>
                    {# 商品コード #}
                    <div class="ec-productRole__code">
                        {% if MstProduct is defined and MstProduct is not null %}
                            <div class="product-code-default">{{ 'front.product.code'|trans }}： {{ MstProduct.product_code }}</div>
                            <div class="product-name-default">{{ 'front.product.name'|trans }}： {{ MstProduct.product_name }}</div>
                            <div class="product-jan-code-default">{{ 'front.product.jan_code'|trans }}： {{ MstProduct.jan_code }}</div>
                            <div class="product-product-name-abb-default">{{ 'front.product.product_name_abb'|trans }}： {{ MstProduct.product_name_abb }}</div>
                            <div class="product-unit-price-default hidden">{{ 'front.product.unit_price'|trans }}： {{ MstProduct.unit_price }}</div>
                            <div class="product-series-name-default">{{ 'front.product.series_name'|trans }}： {{ MstProduct.series_name }}</div>
                            <div class="product-line-no-default">{{ 'front.product.line_no'|trans }}： {{ MstProduct.line_no }}</div>
                            <div class="product-quantity-default hidden">{{ 'front.product.quantity'|trans }}： {{ MstProduct.quantity }}</div>
                            <div class="product-size-default">{{ 'front.product.size'|trans }}： {{ MstProduct.size }}</div>
                            <div class="product-color-default">{{ 'front.product.color'|trans }}： {{ MstProduct.color }}</div>
                            <div class="product-material-default">{{ 'front.product.material'|trans }}： {{ MstProduct.material }}</div>
                            <div class="product-model-default">{{ 'front.product.model'|trans }}： {{ MstProduct.model }}</div>
                        {% endif %}
                    </div>
                    {# 在庫 #}
                    <div class="ec-productRole__code">
                        <div class="product-stock_default">
                            {{ 'front.product.stock'|trans }}：
                            {% if app.user -%}
                                {% if Stock is defined and Stock is not null %}
                                    {% if Stock.stock_num >= 31 %}
                                        〇
                                    {% else  %}
                                        {% if Stock.stock_num == 0 %}
                                            ×
                                        {% else  %}
                                            △
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    ×
                                {% endif %}
                            {% else %}
                                ×
                            {% endif %}
                        </div>
                    </div>
                    {# 関連カテゴリ #}
                    {% if Product.ProductCategories is not empty %}
                        <div class="ec-productRole__category">
                            <div>{{ 'front.product.related_category'|trans }}</div>
                            {% for ProductCategory in Product.ProductCategories %}
                                <ul>
                                    <li>
                                        {% for Category in ProductCategory.Category.path %}
                                            <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a> {%- if loop.last == false %}
                                            <span>＞</span>{% endif -%}
                                        {% endfor %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
{#                    startform#}
                        {% if Product.stock_find %}
                            <div class="ec-productRole__actions ">
                                {% if form.classcategory_id1 is defined %}
                                    <div class="ec-select">
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </div>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="ec-select">
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
{#                                <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>#}
{#                                    {{ form_widget(form.quantity,{'attr': {'value': MstProduct.quantity|number_format#}
{#                                        ,'min':MstProduct.quantity#}
{#                                        ,'step':MstProduct.quantity}}) }}#}
{#                                    {{ form_errors(form.quantity) }}#}
{#                                </div>#}
                            </div>
                            <div class="ec-productRole__btn">
                                <button type="submit" class="ec-blockBtn--action add-cart">
                                    {{ 'front.product.add_cart'|trans }}
                                </button>
                            </div>
                        {% else %}
                            <div class="ec-productRole__btn">
                                <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                    {{ 'front.product.out_of_stock'|trans }}
                                </button>
                            </div>
                        {% endif %}
{#endform#}
                    {{ form_rest(form) }}
    </form>
                    <div class="ec-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if BaseInfo.option_favorite_product %}
                        <form action="{{ url('product_add_favorite', {id:Product.id}) }}" method="post">
                            <div class="ec-productRole__btn">
                                {% if is_favorite == false %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel">
                                        {{ 'front.product.add_favorite'|trans }}
                                    </button>
                                {% else %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel"
                                            disabled="disabled">{{ 'front.product.add_favorite_alrady'|trans }}
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                    <div class="ec-productRole__description">{{ Product.description_detail|raw|nl2br }}
                    </div>
                </div>
            </div>
        </div>
        {% if Product.freearea %}
            <div class="ec-productRole__description">
                {{ include(template_from_string(Product.freearea)) }}
            </div>
        {% endif %}
    </div>


{% endblock %}
