

<div class="delivery_address shipping_destination">
    <div class="shipping_destination_left">
        <div>届け先 </div>
    </div>
    <div class="shipping_destination_right">

        {% if data.shipping|length == 1 %}


        {% else %}
            <select style="width: 555px" id="delivery_address" name="delivery_address"
            >
                <option value=""> {{ 'front.shopping.select_one'|trans }}</option>
                {% for arShipping in data.shipping %}



                    {% if data.otodoke_code_checked ==  arShipping["otodoke_code"]  %}

                        <option selected value="{{ arShipping["otodoke_code"] }}">{{ arShipping["name01"] }} 〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}</option>

                    {% else %}
                        <option  value="{{ arShipping["otodoke_code"] }}">{{ arShipping["name01"] }} 〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}</option>
                    {% endif %}


                {% endfor %}
            </select>
        {% endif %}





        <script>
            {% if data.shipping|length == 1 %}
            updateDeliverydAdress({{ data.shipping[0]["otodoke_code"] }}) ;
            {% endif %}
        </script>





    </div>

</div>
<p class="error_delivery_address" style="color: red;font-size: larger;font-weight: bold;display: none">
    {{ 'front.shopping.error_delivery_address'|trans }}


</p>



