




        {% if data.shipping|length == 1 %}
            <div class="shipping_row otodoke_code">

                <div class="shipping_col1 otodoke_code">
                                    <span class="hidden">
                                        {% if data.shipping|length|length == 1 %}
                                            <input type="radio" class="hidden otodoke_code " checked name="delivery_address"
                                                   value="{{ data.shipping[0]["otodoke_code"] }}" id="{{ data.shipping[0]["otodoke_code"] }}">

                                        {% endif %}

                                    </span>
                    {{ data.shipping[0]["name01"] }}
                </div>
                <div class="shipping_col2">
                    〒 {{ data.shipping[0]["postal_code"] }} {{ data.shipping[0]["addr01"] }} {{ data.shipping[0]["addr02"] }}
                    {{ data.shipping[0]["addr03"] }}
                </div>
            </div>


        {% else %}
            <select required style="width: 555px" class="delivery_address_is_otodoke_code" id="delivery_address" name="delivery_address"
            >
                <option value=""  disabled selected > {{ 'front.shopping.select_one_delivery_address'|trans }}</option>
                {% for arShipping in data.shipping %}



                    {% if data.otodoke_code_checked ==  arShipping["otodoke_code"]  %}

                        <option selected value="{{ arShipping["otodoke_code"] }}">{{ arShipping["name01"] }} 〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}</option>

                    {% else %}
                        <option  value="{{ arShipping["otodoke_code"] }}">{{ arShipping["name01"] }} 〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}</option>
                    {% endif %}


                {% endfor %}
            </select>
        {% endif %}





        <script>
            {% if data.shipping|length == 1 %}
            updateDeliverydAdress('{{ data.shipping[0]["otodoke_code"] }}') ;
            {% endif %}
            $( "#delivery_address" ).combobox({

            });
        </script>











