

<div class="delivery_address shipping_destination">
    <div class="shipping_destination_left">
        <div>届け先 </div>
    </div>
    <div class="shipping_destination_right">
        {% for arShipping in data %}

            <div class="shipping_row">

                <div class="shipping_col1">
                    <span>

                         {% if data|length == 1 %}

                             <input class="hidden otodoke_code"  type="radio" checked name="delivery_address" value="{{ arShipping["otodoke_code"] }}" id="ship_{{ arShipping["otodoke_code"] }}" >



                         {% else %}
                             <input type="radio" class=" otodoke_code"  name="delivery_address" value="{{ arShipping["otodoke_code"] }}" id="ship_{{ arShipping["otodoke_code"] }}" >
                         {% endif %}


                    </span>
                    {{ arShipping["name01"] }}
                </div>
                <div class="shipping_col2">
                    〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}

                </div>

            </div>

        {% endfor %}




    </div>

</div>
<p class="error_delivery_address" style="color: red;font-size: larger;font-weight: bold;display: none">
    {{ 'front.shopping.shipping_title_error'|trans }}
</p>



