{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
<script>
    $(function () {
        let preOrderId = "{{Order.pre_order_id }}";
        $.ajax({
            url: '{{ url('cart_save_temp') }}',
            type: 'POST',
            data: {
            pre_order_id: preOrderId,
            is_check_exist: 1,
            '_token':'{{ csrf_token('_token') }}'
            }
        })
        .done(function(htmlRe, statusText, jqXHR) {
            if (htmlRe == "0") {
                window.location.href='/';
            }
        })
        .fail(function(jqXHR, statusText, errorThrown) {
        });
    });

    $(document).ready(function() {
        $("#back_to_order").click(function() {
            let url = "{{ url('shopping') }}";
            let customer_order_no = "{{ customer_order_no }}";

            $('<form/>', { action: url, method: 'POST' })
            .append(
                $('<input>', {type: 'hidden', name: 'customer_order_no', value: customer_order_no}),
            ).appendTo('body').submit();
        });
    })

</script>

{% endblock javascript %}
{% block main %}
    <style type="text/css">
        .delivery_address_main {
            padding-top: 15px;
        }
        .standar_price{
            color: #00B050;
            font-size: 100% !important;
        }
        .good_price{
            color: #FF0000;
            font-size: 100% !important;
        }
     </style>
<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{ 'front.shopping.confirm_title'|trans }}</h1>
    </div>
</div>

<div class="ec-cartRole">
    <div class="ec-cartRole__progress">
        <ul class="ec-progress">
            {% set step = 1 %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">{{ 'front.cart.nav__cart_items'|trans }}
                </div>
            </li>
            {% if is_granted('ROLE_USER') == false %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'front.cart.nav__customer_info'|trans }}
                    </div>
                </li>
            {% endif %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">{{ 'front.cart.nav__order'|trans }}
                </div>
            </li>
            <li class="ec-progress__item is-complete">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">{{ 'front.cart.nav__confirm'|trans }}
                </div>
            </li>
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">{{ 'front.cart.nav__complete'|trans }}
                </div>
            </li>
        </ul>
    </div>
</div>

    <form id="shopping-form" method="post" action="{{ url('shopping_checkout') }}">
    {{ form_widget(form._token) }}

    <div class="ec-orderRole">
        <div class="ec-orderRole__detail">
            <div class="ec-orderAccount">
                <div class="ec-rectHeading">
                    <h2>{{ 'front.shopping.customer_info'|trans }}</h2>
                </div>
                <div class="ec-orderAccount__account">
                    <p class="ec-input">{{ Order.arCusLogin.company_name }}</p>
                    <p class="ec-halfInput">
                        {% if Order.arCusLogin.name01 %}
                            {{ 'common.name.prefix'|trans }}{{ Order.arCusLogin.name01 }} {{ 'common.name.suffix'|trans }}
                        {% else %}
                            ご担当者様
                        {% endif %}
                    </p>
                    <p class="ec-zipInput">{{ 'common.postal_symbol'|trans }}{{ Order.arCusLogin.postal_code }}</p>
                    <p class="ec-input"> {{ Order.arCusLogin.addr01 }} {{ Order.arCusLogin.addr02 }} {{ Order.arCusLogin.addr03 }}</p>
                    <p class="ec-telInput">{{ Order.arCusLogin.phone_number }}</p>
                    <p class="ec-input">{{ Order.arCusLogin.customer_email }}</p>
                </div>
            </div>
            <div class="ec-orderDelivery">
                <div class="ec-rectHeading nvtrong hidden">
                    <h2>{{ 'front.shopping.delivery_info'|trans }}</h2>
                </div>
                {% for shipping in Order.shippings %}
                    {% set idx = loop.index0 %}
                    {% set isShowReducedTaxMess = false %}
                    <div class="ec-orderDelivery__item">
                        <ul class="ec-borderedList">
                            {% for orderItem in shipping.productOrderItems %}
                                {% set MstProduct = hsProductId[orderItem.Product.id] %}
                                {% set classShow=hsMstProductCodeCheckShow[MstProduct.product_code] %}
                            <li>
                                <div class="ec-imageGrid">
                                    <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ MstProduct.product_name }}"></div>
                                    <div class="ec-imageGrid__content">
                                        {{ MstProduct.jan_code }}
                                        <p>{{ MstProduct.product_name }}
{#                                            {% if is_reduced_tax_rate(orderItem) %}{{ 'common.reduced_tax_rate_symbol'|trans }}{% set isShowReducedTaxMess = true %}{% endif %}#}
                                        </p>
                                        {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                            <p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                        {% endif %}
                                        {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                            <p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                        {% endif %}
                                        <p>
                                            {# Check mst_customer.price_view_flg #}
                                            {% if global_service.getPriceViewFlg %}
                                                 <span class="{{ classShow }}">
                                                    {{ roundPriceZero(orderItem.priceIncTax) | raw }}
                                                </span>
                                                ×
                                            {% endif %}

                                            {{ orderItem.quantity|number_format }}
                                            {% if MstProduct.quantity>1 %}
                                                箱({{ orderItem.quantity*MstProduct.quantity }}個)
                                            {% else %}
                                                個
                                            {% endif %}

                                            {# Check mst_customer.price_view_flg #}
                                            {% if global_service.getPriceViewFlg %}
                                                <span>{{ 'common.subtotal__with_separator'|trans }}{{ roundPriceZeroTotal(orderItem.totalPrice) | raw }}</span></p>
                                            {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
{#                        <p>{{ isShowReducedTaxMess ? 'common.reduced_tax_rate_messeage'|trans }}</p>#}
                    </div>
                    <div class="ec-orderDelivery__address nvtrong hidden">
                        <p>{{ 'common.name.prefix'|trans }}{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}){{ 'common.name.suffix'|trans }}</p>
                        <p>{{ 'common.postal_symbol'|trans }}{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                        <p>{{ shipping.phone_number }}</p>
                    </div>
                    <div class="ec-orderDelivery__actions nvtrong hidden">
                        <div class="ec-selects">
                            <div class="ec-select">
                                <label>{{ 'front.shopping.delivery_provider'|trans }}</label>
                                {% set delivery_fee = 0 %}
                                {% for item in shipping.order_items if item.isDeliveryFee %}
                                    {% set delivery_fee = item.total_price %}
                                {% endfor %}

                                {# Check mst_customer.price_view_flg #}
                                {% if global_service.getPriceViewFlg %}
                                    {{ Order.Shippings[idx].Delivery }}({{ roundPrice(delivery_fee) | raw }})
                                {% endif %}
                            </div>
                            <div class="ec-select ec-select__delivery">
                                <label>{{ 'front.shopping.delivery_date'|trans }}</label>
                                {{ Order.Shippings[idx].shipping_delivery_date? Order.Shippings[idx].shipping_delivery_date|date_day_with_weekday : 'common.select__unspecified'|trans }}
                            </div>
                            <div class="ec-select ec-select__time">
                                <label>{{ 'front.shopping.delivery_time'|trans }}</label>
                                {{ Order.Shippings[idx].shipping_delivery_time?: 'common.select__unspecified'|trans }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
{################            nvtrong start#}
            <style>
                .shipping_destination{
                    display: flex;
                    margin-top: 10px;
                }
                .shipping_destination_left{
                    width: 140px
                }
                .shipping_destination_left >div{
                    width: 130px;
                    background-color: #c9b5b5;
                    text-align: center;

                }
                .shipping_destination_right{

                }
                .shipping_row{
                    display: block;
                }

                .shipping_col1{
                    /*width: 150px;*/
                }

                .shipping_col2{

                }
                .date_picker_row{
                    display: flex;
                    margin-top: 10px;
                }
            </style>
            <div class="bill_address shipping_destination" style="margin-bottom: 30px;">
                <div class="shipping_destination_left">
                    <div>請求先 </div>
                </div>
                <div class="shipping_destination_right">

                    {% for arShipping in Order.dtBillSeikyuCode %}

                        <div class="shipping_row">

                            <div class="shipping_col1">
                                    <span>
                                        {% if Order.dtBillSeikyuCode|length == 1 %}
                                            <input class="hidden seikyu_code_"   checked name="bill_address" value="{{ arShipping["seikyu_code"] }}" id="bill_{{ arShipping["seikyu_code"] }}" >

                                        {% else %}
                                            <input type="radio" class="seikyu_code_" name="bill_address" value="{{ arShipping["seikyu_code"] }}" id="bill_{{ arShipping["seikyu_code"] }}" >
                                        {% endif %}

                                    </span>
                                {{ arShipping["name01"] }}
                            </div>
                            <div class="shipping_col2">
                                〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}

                            </div>

                        </div>

                    {% endfor %}





                </div>

            </div>
            <p class="error_delivery_address" style="color: red;font-size: larger;font-weight: bold;display: none">
                {{ 'front.shopping.shipping_title_error'|trans }}
            </p>
            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div>出荷先</div>
                </div>
                <div class="shipping_destination_right">

                    {% for arShipping in Order.mstShips %}

                        <div class="shipping_row">

                            <div class="shipping_col1">
                                    <span>

                                         {% if Order.mstShips|length == 1 %}
                                             <input type="radio" class="hidden shipping_no"  checked name="shipping_radio" value="{{ arShipping["shipping_no"] }}" id="{{ arShipping["shipping_no"] }}" >

                                        {% else %}
                                             <input type="radio"  class=" shipping_no"  name="shipping_radio" value="{{ arShipping["shipping_no"] }}" id="{{ arShipping["shipping_no"] }}" >

                                         {% endif %}

                                    </span>
                                {{ arShipping["name01"] }}
                            </div>
                            <div class="shipping_col2">
                                〒 {{ arShipping["postal_code"] }} {{ arShipping["addr01"] }} {{ arShipping["addr02"] }} {{ arShipping["addr03"] }}

                            </div>

                        </div>

                    {% endfor %}
                </div>
            </div>
            <p class="errorshipping_radio" style="color: red;font-size: larger;font-weight: bold;display: none">
                {{ 'front.shopping.shipping_title_error'|trans }}
            </p>
            {#                dtCusAddress#}
            <div class="delivery_address_main">
                {% include "Ajax/oto_list.twig" with {'data':Order.dtCustomerOtodoke } %}
            </div>

            <div class="date_picker_row ">
                <div class="shipping_destination_left date_picker_delivery">
                    <div> {{ 'front.shopping.date_picker_delivery'|trans }}</div>
                </div>
                <div class="shipping_destination_right">
                    <div class="shipping_row">
                        {{ Order.MoreOrder.date_want_delivery }}
                    </div>
                </div>
            </div>
            <div class="date_picker_row">
                <div class="shipping_destination_left"></div>
                <div class="shipping_destination_right">
                    <p class="date-picker-delivery-notify">倉庫状況によりご希望日に添えない場合がございます<br/>詳しくは各担当者までお問い合わせください<br/>配送確定はマイページの出荷履歴をご確認ください</p>
                </div>
            </div>

{################            nvtrong end#}

            <div class="ec-orderPayment nvtrong hidden">
                <div class="ec-rectHeading">
                    <h2>{{ 'front.shopping.payment_info'|trans }}</h2>
                </div>
                <div class="ec-blockRadio">
                    {% set charge = 0 %}
                    {% for item in Order.order_items if item.isCharge %}
                        {% set charge = item.total_price %}
                    {% endfor %}

                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        {{ Order.Payment }}({{ roundPrice(charge) | raw }})
                    {% endif %}
                </div>
            </div>
            {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
            <div class="ec-orderPayment nvtrong hidden">
                <div class="ec-rectHeading">
                    <h2>{{ 'front.shopping.point_info'|trans }}</h2>
                </div>
                <div class="ec-blockRadio">
                    {{ Order.use_point|number_format }} pt
                </div>
            </div>
            {% endif %}
            <div class="ec-orderConfirm nvtrong hidden">
                <div class="ec-rectHeading">
                    <h2>{{ 'front.shopping.message_info'|trans }}</h2>
                </div>
                <div class="ec-input">
                    {{ Order.message|nl2br }}
                </div>
            </div>

            {#Customer Order No#}
            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div style="background-color: #ffdc00; font-weight: bold">客先発注番号</div>
                </div>
                <div class="shipping_destination_right">
                    <div>
                        <div>
                            {% if customer_order_no is defined %}
                                {{ customer_order_no }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {#Customer Order No#}

            {# Remarks#}
            <div class="shipping_destination">
                <p>
                    <span>▼</span>
                    出荷案内書と納品書の備考に表示される項目（店名、オーダー番号、その他）
                </p>
            </div>
            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div>発注書備考</div>
                </div>
                <div class="shipping_destination_right">
                    <div>
                        <div>
                            {% if Order.MoreOrder is defined %}
                                {{ Order.MoreOrder.remarks3 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="shipping_destination">
                <p>
                    <span>▼</span>
                    発注に対するコメント
                </p>
            </div>
            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div>発注書コメント</div>
                </div>
                <div class="shipping_destination_right">
                    <div>
                        <div>
                            {% if Order.MoreOrder is defined %}
                                {{ Order.MoreOrder.remarks4 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="shipping_destination">
                <p>
                    <span>▼</span>
                    生産依頼項目（特注の仕様など）
                </p>
            </div>
            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div> {{ 'front.shopping.remarks'|trans }}１</div>
                </div>
                <div class="shipping_destination_right">
                    <div>
                        <div>
                            {% if Order.MoreOrder is defined %}
                                {{ Order.MoreOrder.remarks1 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="shipping_destination">
                <div class="shipping_destination_left">
                    <div> {{ 'front.shopping.remarks'|trans }}２</div>
                </div>
                <div class="shipping_destination_right">
                    <div>
                        <div>
                            {% if Order.MoreOrder is defined %}
                                {{ Order.MoreOrder.remarks2 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {# End - Remarks#}
        </div>
        <div class="ec-orderRole__summary">
            <div class="ec-totalBox">
                <dl class="ec-totalBox__spec">
                    <dt>{{ 'common.subtotal'|trans }}</dt>
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <dd class="ec-totalBox__specTotal">{{ roundPriceZeroTotal(Order.subtotal) | raw }}</dd>
                    {% endif %}
                </dl>
                <dl class="ec-totalBox__spec">
                    <dt>{{ 'common.tax'|trans }}</dt>
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <dd>{{ roundPriceZeroTax(Order.tax) | raw }}</dd>
                    {% endif %}
                </dl>
                <dl class="ec-totalBox__spec hide">
                    <dt>{{ 'common.delivery_fee'|trans }}</dt>
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <dd>{{ roundPrice(Order.deliveryFeeTotal) | raw }}</dd>
                    {% endif %}
                </dl>

                <div class="ec-totalBox__total hidden">{{ 'common.total'|trans }}
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <span class="ec-totalBox__price">
                            {{ roundPriceZero(Order.payment_total) | raw }}
                        </span>
                        <span class="ec-totalBox__taxLabel">
                            {{ 'common.tax_include'|trans }}
                        </span>
                    {% endif %}
                </div>
                <dl class="ec-totalBox__taxRate hidden">
                    <dt>{{ 'common.tax_rate_target'|trans({ '%rate%': Order.rate }) }}</dt>
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <dd>{{ roundPriceZeroTotalAll(Order.total) | raw }}</dd>
                    {% endif %}
                </dl>
                <div class="ec-totalBox__paymentTotal">{{ 'common.payment_total'|trans }}
                    {# Check mst_customer.price_view_flg #}
                    {% if global_service.getPriceViewFlg %}
                        <span class="ec-totalBox__price">
                            {{ roundPriceZeroTotalAll(Order.payment_total) | raw }}
                        </span>
                        {% if roundPriceZeroTotal(Order.payment_total) != "" %}
                            <span class="ec-totalBox__taxLabel">
                                {{ 'common.tax_include'|trans }}
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                <div class="ec-totalBox__pointBlock">
                    <dl class="ec-totalBox__spec">
                        <dt>{{ 'front.shopping.use_point'|trans }}</dt>
                        <dd>{{ Order.UsePoint|number_format }} pt</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt><span class="ec-font-bold">{{ 'front.shopping.add_point'|trans }}</span></dt>
                        <dd><span class="ec-font-bold">{{ Order.AddPoint|number_format }} pt</span></dd>
                    </dl>
                </div>
                {% endif %}
                <div class="ec-totalBox__btn">
                    <button type="submit" class="ec-blockBtn--action">{{ 'front.shopping.checkout'|trans }}</button>
                    <button type="button" id="back_to_order" class="ec-blockBtn--cancel">{{ 'front.shopping.back_to_order'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
