<div class="loginCartMenu">
    <form method="get" class="searchformLeft" action="{{ path('product_list') }}">

        <div class="ec-borderedDefs">

            <div>
                <div>
                    <label class="ec-label" for="s_product_name">商品名</label>
                </div>
                <div>
                    <div class="ec-halfInput">
                        <input type="text"   class="searchE" id="s_product_name" name="s_product_name" placeholder=""
                               value="{{ getFromUrl('s_product_name') }}" >

                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="ec-label" for="s_jan"> JANコード</label>
                </div>
                <div>
                    <div class="ec-halfInput">
                        <input class="searchE" type="text" id="s_jan" name="s_jan" placeholder=""
                               value="{{ getFromUrl('s_jan') }}" >

                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="ec-label" for="s_catalog_code">  カタログコード</label>
                </div>
                <div>
                    <div class="ec-halfInput">
                        <input type="text"  class="searchE" id="s_catalog_code" name="s_catalog_code" placeholder=""
                               value="{{ getFromUrl('s_catalog_code') }}" >

                    </div>
                </div>
            </div>

        </div>
        <div class="ec-RegisterRole__actions">
            <div class="">
                <div class="ec-off4Grid__cell">
                    <button type="submit" class="ec-blockBtn--action" name="mode" value="searchLeft" >
                        絞り込み
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{{ render(path('block_search_product')) }}


{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
{% from _self import tree %}
<a href="{{ url('product_list') }}?category_id={{ Category.id }}" class="categoryID{{ Category.id }}"><span>{{ Category.name }}</span></a>{% endmacro %}
{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}

<div class="ec-categoryNaviRole">
    <div class="ec-itemNav">
        <ul class="ec-itemNav__nav fnDIN">
{% for Category in Categories %}
{% if Category.id is not same as(20) %}
            <li>{{ tree(Category) }}</li>
{% endif %}
{% endfor %}
        </ul>
    </div>
</div>
