{% set Carts = get_all_carts() %}
{% set totalPrice = get_carts_total_price() %}
{% set totalQuantity = get_carts_total_quantity() %}
<div class="header">
    {% set userCode= getUserCode() %}
    {% set urlCart= url('cart') %}
    {% if userCode=="6000" %}
        <script>
            let messAl =  "{{ 'messge.cannotcart.all'|trans }}";
        </script>
        {%  set urlCart= "javascript:alert(messAl);"%}

    {% else %}
    {% endif %}
    <div class="headerLogo">
        <div class="logo">
            <h1>ショップキャッチショップキャッチショップキチ</h1>
            <ul class="menu">
                {% if is_granted('ROLE_USER') %}
                    <li class="itemNav">{{ include('Block/nav_sp.twig') }}</li>
                    <li class="mypage"><a href="{{ url('mypage') }}"><i class="fas fa-user"></i><div>マイページ</div></a></li>
                {% else %}
                    <li class="mypage"><a href="{{ url('mypage_login') }}"><img src="/html/user_data/assets/img/common/headerLogin3.png" alt="ログインはこちら"></a></li>
                {% endif %}

                <li class="logo"><a href="{{ url('homepage') }}"><img src="/html/user_data/assets/img/common/logo_R+W.svg" alt="{{ BaseInfo.shop_name }}"></a></li>

                {% if is_granted('ROLE_USER') %}
                    {% if totalQuantity > 0 %}
                        <li class="cart"><a href="{{ urlCart }}"><i class="fas fa-shopping-cart"></i><div>カート</div><span class="fnDIN">{{ totalQuantity|number_format }}</span></a></li>
                    {% else %}
                        <li class="cart"><a href="{{ urlCart }}"><i class="fas fa-shopping-cart"></i><div>カート</div></a></li>
                    {% endif %}
                    <li class="mypage"><a href="{{ url('logout') }}"><i class="fas fa-lock-open"></i><div>ログアウト</div></a></li>
                {% endif %}
            </ul>
            <div class="ec-cartNaviNull">
                <div class="ec-cartNaviNull__message">
                    <p>{{ 'front.block.cart.no_item'|trans }}</p>
                </div>
            </div>
        </div>

        <div class="headerInfo">
            {% if is_granted('ROLE_USER') %}
                <div class="ec-cartNaviNull">
                    <div class="ec-cartNaviNull__message">
                        <p>{{ 'front.block.cart.no_item'|trans }}</p>
                    </div>
                </div>
            {% else %}
                <div class="login">
                    <a href="{{ url('mypage_login') }}"><img src="/html/user_data/assets/img/common/headerLogin3.png" alt="ログインはこちら"></a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
        <div class="headerMenu">
            <div class="search">
                {{ render(path('block_search_product')) }}
            </div>
            <ul class="menu">
                <li class="siteTop action"><a href="{{ url('homepage') }}"><i class="fas fa-home"></i><div>トップページ</div></a></li>

                {% if is_granted('ROLE_USER') %}
                <li class="mypage action"><a href="{{ url('mypage') }}"><i class="fas fa-user"></i><div>マイページ</div></a></li>
                <li class="mypage action"><a href="{{ url('logout') }}"><i class="fas fa-lock-open"></i><div>  ログアウト</div></a></li>

                {% else %}
                <li class="mypage action"><a href="{{ url('mypage_login') }}"><i class="fas fa-lock"></i><div>ログイン</div></a></li>
                {% endif %}

                {% if totalQuantity > 0 %}
                <li class="cart action"><a href="{{ urlCart }}"><i class="fas fa-shopping-cart"></i><div>カート</div><span class="fnDIN">{{ totalQuantity|number_format }}</span></a></li>

                {% else %}
                <li class="cart action"><a href="{{ urlCart }}"><i class="fas fa-shopping-cart"></i><div>カート</div></a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>

<style>
    {% if is_granted('ROLE_USER') %}
    .headerMenu .menu{
        width: 430px !important;
    }
    @media screen and (max-width:979px) {
        .headerMenu .menu{
            width: 340px !important;
        }
    }
    {% else %}
    .headerMenu .menu{
        justify-content: space-evenly;
    }
    .ec-layoutRole .ec-layoutRole__left {
        display: none;
    }
    .ec-layoutRole .ec-layoutRole__mainWithColumn {
        width: 100%!important;
    }
    @media screen and (max-width:767px) {
        .headerLogo .logo h1, .headerLogo .logo .ttl {
            text-align: left;
        }
        .headerLogo .logo .menu {
            justify-content: space-between;
        }
        .headerLogo .logo .menu li.mypage {
            order: 2;
            width: 35%;
        }
        .headerLogo .logo .menu li.mypage img {
            width: 100%;
        }
        .headerLogo .logo .menu li.logo {
            order: 1;
            text-align: left;
        }
    }

    {% endif %}
</style>

<script>
    $(document).ready(function () {
        $(".action").on('click', function () {
            loadingOverlay();
        })
    })
</script>
