<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ error_title }}</title>
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>
<div class="ec-layoutRole">
    <div class="ec-404Role">
        <div class="ec-off4Grid">
            <div class="ec-off4Grid__cell">
                <div style="font-size:100px;text-align:center;">
                    <div class="ec-404Role__icon ec-icon">
                        <img src="{{ asset('assets/icon/exclamation-pale.svg') }}" alt="">
                    </div>
                </div>
                <p class="ec-404Role__title ec-reportHeading">エラーが発生しました。</p>
                <ul class="ec-404Role__description ec-reportDescription" style="list-style: none; text-align: left;">
                    <li>大変お手数ですが、下記の内容を記載のうえ、メールにてご連絡をお願い致します。</li>
                    <li>・発生日時：{{ post.published_at|date("Y/m/d H:i:s") }}</li>
                    <li>・発生時の動作 :</li>
                    <li>※連絡先メールアドレス：<a href="mailto:order_support@xbraid.net">order_support@xbraid.net</a></li>
                </ul>
                <a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'common.go_to_top'|trans }}</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    var timeout = 2000;

    $(document).ready(function () {
        setTimeout(function () {
            //Clear cookie
            deleteAllCookies();

            window.location.href = '{{ url('homepage') }}';
        }, timeout);
    })

    function deleteAllCookies() {
        const cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
</script>
